<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

<header class="dashboard_page">
  <p class="header_dashboard"> &copy Nome-da-Empresa </p>
</header>

<body class="bodydash">

<div class="background">

        <h1> Home  </h1>

        <div>
          <button type="button" class="btn btn-light col-md-2 " onclick="location.href='/new/pageA'"><i class="fa fa-user-plus float-left" aria-hidden="true"></i>  Novo Cadastro</button>
        <br><br>
        <button type="button" class="btn btn-light  col-md-2 " onclick="location.href='/new/pageA'"><i <i class="fa fa-address-card-o float-left" aria-hidden="true"></i>    Cadastrado</button>
        <br><br>
        <button type="button" class="btn btn-light  col-md-2 " onclick="location.href='/new/pageB'"> <i class="fa fa-phone float-left" aria-hidden="true" ></i>   Prospecção</button>
        <br><br>
      </div>
    </div>

</body
<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>

<script src="/javascripts/homeadmin.js"></script>

<footer class="dashboard_page">
  <p>&copy Nome-da-Empresa </p>
</footer>
