<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<header class="dashboard_page">
  <p class="header_dashboard"> &copy AnivsTravel </p>
</header>

<body class="bodydash">

<div class="background">

      <h1> Home  </h1>
      <div>
        <button type="button" class="btn btn-light col-md-2 " onclick="location.href='/new/pageA'"><i class="fa fa-user-plus float-left" aria-hidden="true"></i>  Novo Cadastro</button>
        <br><br>
        <button type="button" class="btn btn-light  col-md-2 " onclick="location.href='/registred/pageRegistred'"><i <i class="fa fa-address-card float-left" aria-hidden="true"></i>    Cadastrado</button>
        <br><br>
        <button type="button" class="btn btn-light  col-md-2 " onclick="location.href='/prospection/pageA'"> <i class="fa fa-phone float-left" aria-hidden="true" ></i>   Prospecção</button>
        <br><br>
        <button type="button" class="btn btn-light  col-md-2 " onclick="location.href='/tableGenerator'"> <i class="fas fa-table float-left"></i>   Gerar tabela</button>
        <br><br>

        <button type="button" class="btn btn-light  col-md-2 " onclick="location.href='/logout'"> <i class="fa fa-sign-out-alt float-left" aria-hidden="true" ></i>   Sair</button>
        <br><br>
      </div>
    </div>

</body
<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>

<script src="/javascripts/homeadmin.js"></script>

<footer class="dashboard_page">
  <p>&copy AnisTravel </p>
</footer>
