
  <div class="forgot-box" id="forgot-box">
      <h2 id="titulo">Esqueci minha senha</h2><br><br><br>
        <form class="esqueci" action="/forgot" method="post">
        <br><br>
        <label class="text1">Digite o endereço de email cadastrado:</label>
        <div class="email-box ">
          <input class="cxemail" type="email" name="user[email]" placeholder="email@example.com" required="required">
        </div>
        <input class="btn btn-primary" type="submit" name="btn btn-enviar" value="Enviar">
      </form>
  </div>

<footer class="footer-forget"> </footer>


<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>
