<header class="login_page">
  <p class="header_login"> &copy Nome-da-Empresa </p>
</header>

<div class="login">
  <div>
    <div class="form_login">
        <form action="/login" method="post">
          <h1 class="mt-2">Login</h1>
          <div class="col-8 centered text-center p-3">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="user[email]">
          </div>
          <div class="col-8 centered p-3">
            <label for="email">Senha</label>
            <input type="password" class="form-control" name="user[password]">
          </div>
          <input class="btn btn-login mt-2" type="submit" value="Login" id="login-btn">
          </form>
        <button class="btn btn-forgot mt-2 mb-2" onclick="location.href='/forgot'">Esqueci minha senha</button>
    </div>
  </div>
</div>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>

<script src="/javascripts/login.js"></script>

<footer class="login_page">
  <p>&copy Nome-da-Empresa </p>
</footer>
