<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<header class="login_page">

</header>
<form action="/newuser" method="post" class="pagesFront pagesFront-pagtoda">
  <div class="dinamic_spec">
    <h1> Cadastro Novo Funcionário </h1>
    <div class="classa">
      <input type="fullname" name = "user[email]" class="form-control form-control--size" id="fullname" placeholder="Email">
    </div><br>
    <div class="classa">
      <input type="password" name = "user[password]" class="form-control form-control--size" id="fullname" placeholder="Senha">
    </div><br>
    <div class="classa">
      <input type="password" name = "confirmPassword" class="form-control form-control--size" id="fullname" placeholder="Confirmar senha">
    </div><br>
    <div class="classa">
      <select placeholder="Selecione" class="form-control form-control--size" name=user[userType] >
        <option style="display:none">Tipo de usuário</option>
        <option>Adm</option>
        <option>Com</option>
      </select>
    </div><br>
  </div>
  <br>


    <button type="submit" class="btn btn-primary">Sign Up</button>
    <button type="button" class="btn btn-primary" id="buttonPages" name="button" onClick="location.href='/Dashboard'">Retornar para página principal</button>
    <br><br><br><br><br><br><br>
  </form>
  <footer class="login_page">
  </footer>
