<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<header class="login_page">
  navbar
</header>
<form action="/new/pageA" method="post" class="pagesFront">
  <div class="dinamic_spec">
    <h1> Cadastro Novo Funcionário </h1>
    <div class="classa">
      <input type="fullname" name = "new_email" class="form-control newcadas" id="fullname" placeholder="Email">
    </div><br>
    <div class="classa">
      <input type="fullname" name = "password" class="form-control newcadas" id="fullname" placeholder="Senha">
    </div><br>
    <div class="classa">
      <input type="fullname" name = "confirmPassword" class="form-control newcadas" id="fullname" placeholder="Confirmar senha">
    </div><br>
  </div>
  <br>
    <button type="button" class="add_buttons" id="" >Admin</button>
      <button type="button" class="add_buttons" id="" >Comum</button>
    <br><br><br><br><br><br><br>
  </form>
