<form class="" action="/pageA" method="post">
  <h1> Geral </h1>
  <div>

    <input type="text" name = "client[fullname]" placeholder= "Nome Completo">
    <input type="text" name = "client[register]" placeholder= "CPF">
    <input type="text" name = "client[phone]"    placeholder= "Telefone">
    <input type="text" name = "client[cellphone]" placeholder= "Celular">
    <input type="text" name = "client[email]" placeholder= "Email">
    <input type="text" name = "client[adress]" placeholder= "Endereço">
    <input type="text" name = "client[id]" placeholder= "RG">
    <input type="text" name = "client[passport]" placeholder= "Passaporte">
    <input type="text" name = "client[maritalStatus]" placeholder= "Estado Civil">
    <input type="text" name = "client[spouseName]" placeholder= "Conjuge">
    <input type="text" name = "client[children]" placeholder= "Filhos">
    <input type="text" name = "client[childrenAge]" placeholder= "Idade dos filhos">
    <input type="text" name = "client[profession]" placeholder= "Profissão">
    <input type="text" name = "client[spouseProfession]" placeholder= "Profissão Conjuge">
    <input type="text" name = "client[instagram]" placeholder= "Instagram">
    <input type="text" name = "client[facebook]" placeholder= "Facebook">
    <button type="submit" class="btn btn-primary">Sign up</button>
  </div>

</form>
