<form class="" action="/pageA" method="post">
  <h1> Geral </h1>
  <div>

    <input type="text" name = "client[fullname]" placeholder= "Nome Completo" required="required">
    <input type="text" name = "client[register]" placeholder= "CPF" required="required">
    <input type="text" name = "client[phone]"    placeholder= "Telefone" required="required">
    <input type="text" name = "client[cellphone]" placeholder= "Celular"  required="required">
    <input type="text" name = "client[email]" placeholder= "Email" required="required">
    <input type="text" name = "client[adress]" placeholder= "Endereço" required="required">
    <input type="text" name = "client[id]" placeholder= "RG" required="required">
    <input type="text" name = "client[passport]" placeholder= "Passaporte" required="required">
    <input type="text" name = "client[maritalStatus]" placeholder= "Estado Civil" required="required">
    <input type="text" name = "client[spouseName]" placeholder= "Conjuge" required="required">
    <input type="text" name = "client[children]" placeholder= "Filhos" required="required">
    <input type="text" name = "client[childrenAge]" placeholder= "Idade dos filhos" required="required">
    <input type="text" name = "client[profession]" placeholder= "Profissão" required="required">
    <input type="text" name = "client[spouseProfession]" placeholder= "Profissão Conjuge" required="required">
    <input type="text" name = "client[instagram]" placeholder= "Instagram" required="required">
    <input type="text" name = "client[facebook]" placeholder= "Facebook" required="required">
    <button type="submit" class="btn btn-primary">Sign up</button>
  </div>

</form>
