<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<div class="pagesFront">
  <div class="dinamic_spec">
    <div class="formInputs">
    <div class="col-sm-1 px-6 pb-1 pt-6 text-right">
      {{#compare userType "Adm"}}
        <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='/Dashboard'"><i class="fa fa-arrow-left"></i>
      {{else}}
        <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='/DashboardCom'"><i class="fa fa-arrow-left"></i>
      {{/compare}}
    </div>

      <p class="title_registed"> Gerar tabela </p>

    </div>


        <form class="pt-0" action="/table" method="post" id="filter" >
          <div style="justify-content: center; display: flex; flex-direction: column; align-items: center">
            <div  style="justify-content: center; display: flex; flex-direction: row; align-items: center; padding: 5px">
              <label style="font-size: 17px; width:28.7px;">De:</label>
                <input
                  type="number"
                  placeholder="Mês"
                  name="info[monthMin]"
                  id="monthMin"
                  class="form-control"
                  max="12" min="0"
                  style= "width:33%; margin: 0% 1% 0% 5% "
                />
                <input
                  type="number"
                  placeholder="Ano"
                  name="info[yearMin]"
                  id="yearMin"
                  class="form-control"
                  max="9999" min="1000"
                  style= "width:36%; margin: 0% 0% 0% 1% "
                />
            </div>
          <div  style="justify-content: center; display: flex; flex-direction: row; align-items: center; padding: 5px">
        <label style="font-size: 17px; width:28.7px;">A:  </label>

        <input
        type="number"
        placeholder="Mês"
        name="info[monthMax]"
        id="monthMax"
        class="form-control"
        max="12" min="0"
        style= "width:33%; margin: 0% 1% 0% 5% "
      />
      <input
      type="number"
      placeholder="Ano"
      name="info[yearMax]"
      id="yearMax"
      class="form-control"
      max="9999" min="1000"
      style= "width:36%; margin: 0% 0% 0% 1% "
    />


    </div>
<br>
          <label style="font-size: 17px">CPF do cliente (somente números)</label>
          <input
            type="text"
            placeholder="CPF"
            onblur='addDashesCPF(this)'
            name="info[register]"
            id="register"
            class="form-control"
            maxlength='11'
            style= "width:20%;"
          />
          <br><br>
          <button
            type="button"
            class="btn btn-light"
            onclick="validation()"
            style= "width:20%;"
          >
            <i class="fas fa-download float-left"></i>
            Baixar tabela
          </button>
        </div>


        </form>
  </div>
</div>

<script>

  function validationMonthYear(month, year){
    if(month && !year){
      alert('É necessário digitar um ano.');
      return false;
    }
    else if(!month && year){
      alert('É necessário digitar um mês.');
      return false;
    }
    else if(!month && !year){
      return true;
    }
    else if(month && year){
      if(month > 12){
        alert('Digite um mês válido.');
        return false;
      }
      if((year < 1000) || (year > 10000)){
        alert('Digite um ano válido.');
        return false;
      }
      else{
        return true;
      }
    }
  }


  function validation (){

    month1 = Number(document.getElementById('monthMin').value);
    year1 = Number(document.getElementById('yearMin').value);
    month2 = Number(document.getElementById('monthMax').value);
    year2 = Number(document.getElementById('yearMax').value);
    register = document.getElementById('register').value;
    if((register && register.length === 14) || !register){
      if(validationMonthYear(month1, year1) && validationMonthYear(month2, year2)){
        if(year1 && year2){
          if(year1 > year2){
            alert('Digite um período válido.');
          }
          else{
            document.getElementById("filter").submit();
          }
        }
        else{
          document.getElementById("filter").submit();
        }
      }
    }
    else {
      alert('Digite um CPF válido.');
    }
  }


</script>



<script type="text/javascript" src="/javascripts/cad_redir.js">  </script>
<script type="text/javascript" src="/javascripts/formInputs.js">  </script>
