
<div class="pagesFront">
  <div class="dinamic_spec">
    <div class="formInputs">
    <div class="col-sm-1 px-6 pb-1 pt-6 text-right">
      {{#compare userType "Adm"}}
        <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='/Dashboard'"><i class="fa fa-arrow-left"></i>
      {{else}}
        <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='/DashboardCom'"><i class="fa fa-arrow-left"></i>
      {{/compare}}
    </div>

      <p class="title_registed"> Gerar tabela </p>

    </div>


        <form class="pt-0" action="/table2" method="post" id="filter" >
          <div class="style">


          De:
          <input
            type="number"
            placeholder="aaaa"
            name="info[yearMin]"
            id="yearMin"
            class="form-control"
            maxlength='4'
          />
          <br><br>
          a:
          <input
            type="number"
            placeholder="aaaa"
            name="info[yearMax]"
            id="yearMax"
            class="form-control"
            maxlength='4'
          />
          <br><br>
          CPF do cliente (somente números)
          <input
            type="register"
            placeholder="CPF"
            onblur='addDashesCPF(this)'
            name="info[register]"
            id="register"
            class="form-control"
            maxlength='11'
          />
          <br><br>
          <button
            type="button"
            class="btn btn-light  col-md-2 "
            onclick="validation()"
          >
            <i class="fa fa-user-plus float-left" aria-hidden="true" ></i>
            Baixar tabela
          </button>
        </div>

        </form>
  </div>
</div>

<script>

  function validation (){
    //defaultValue();
    year1 = Number(document.getElementById('yearMin').value);
    year2 = Number(document.getElementById('yearMax').value);
    register = document.getElementById('register').value;

    if(year1 && year2){
      if(((year1 < 1000) || (year1 > 10000)) || ((year2 < 1000) || (year2 > 10000))){
        alert('Digite um ano válido.');
      }
      else if(year1 > year2){
        alert('Digite um período válido.');
      }
      else{
        document.getElementById("filter").submit();
      }
    }
    //else if(register)



    else{
      document.getElementById("filter").submit();
    }

  }
  const style = {
      margin-top: '-20px',
      margin-left: '60px'
      display: "flex",
      flex-direction: "row",
      width:"40%",
      align-itens: "center"
      justify-content: "center"
  }

</script>



<script type="text/javascript" src="/javascripts/cad_redir.js">  </script>
<script type="text/javascript" src="/javascripts/formInputs.js">  </script>
