<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<div class="pagesFront">
  <div class="dinamic_spec">
    <div class="formInputs">
    <div class="col-sm-1 px-6 pb-1 pt-6 text-right">
      {{#compare userType "Adm"}}
        <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='/Dashboard'"><i class="fa fa-arrow-left"></i>
      {{else}}
        <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='/DashboardCom'"><i class="fa fa-arrow-left"></i>
      {{/compare}}
    </div>

      <p class="title_registed"> Gerar tabela </p>

    </div>


        <form class="pt-0" action="/table" method="post" id="filter" >
          <div style="justify-content: center; display: flex; flex-direction: column; align-items: center">

            <label style="font-size: 17px">De:</label>
          <input
            type="number"
            placeholder="aaaa"
            name="info[yearMin]"
            id="yearMin"
            class="form-control"
            style= "width:20%;"
          />
          <br><br>
          <label style="font-size: 17px">A:</label>
          <input
            type="number"
            placeholder="aaaa"
            name="info[yearMax]"
            id="yearMax"
            class="form-control"
            style= "width:20%;"
          />
          <br><br>
          <label style="font-size: 17px">CPF do cliente (somente números)</label>
          <input
            type="text"
            placeholder="CPF"
            onblur='addDashesCPF(this)'
            name="info[register]"
            id="register"
            class="form-control"
            maxlength='11'
            style= "width:20%;"
          />
          <br><br>
          <button
            type="button"
            class="btn btn-light"
            onclick="validation()"
            style= "width:20%;"
          >
            <i class="fas fa-download float-left"></i>
            Baixar tabela
          </button>
        </div>


        </form>
  </div>
</div>

<script>

  function validation (){

    year1 = Number(document.getElementById('yearMin').value);
    year2 = Number(document.getElementById('yearMax').value);
    register = document.getElementById('register').value;
    if((register && register.length === 14) || !register){
      if(year1 && year2){
        if(((year1 < 1000) || (year1 > 10000)) || ((year2 < 1000) || (year2 > 10000))){
          alert('Digite um ano válido.');
        }
        else if(year1 > year2){
          alert('Digite um período válido.');
        }
        else{
          document.getElementById("filter").submit();
        }
      }
      else{
        document.getElementById("filter").submit();
      }
    }
    else {
      alert('Digite um CPF válido.');
    }
  }


</script>



<script type="text/javascript" src="/javascripts/cad_redir.js">  </script>
<script type="text/javascript" src="/javascripts/formInputs.js">  </script>
