<header class="login_page">
</header>
<form action="/new/pageB/{{client_id}}" method="post" class="pagesFront">
    <label> Page B </label><br>
    <label> Perfil  </label>
      <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox1" value="perfil1">
      <label class="form-check-label" for="inlineCheckbox1">Esporte</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox2" value="perfil2">
      <label class="form-check-label" for="inlineCheckbox2">Refinado</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox3" value="perfil3">
      <label class="form-check-label" for="inlineCheckbox3">Simples</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox4" value="perfil4">
      <label class="form-check-label" for="inlineCheckbox3">Cult</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox5" value="perfil5">
      <label class="form-check-label" for="inlineCheckbox3">Comida</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox6" value="perfil6">
      <label class="form-check-label" for="inlineCheckbox3">Vinhos</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox7" value="perfil7">
      <label class="form-check-label" for="inlineCheckbox3">Outros</label>
    </div><br>

    <div class="container rowclass">
  <div class="row rowclass autorow">
    <div class="col-sm rowclass">
      <div class="classa">
              <select name="client[necessities]"required="required" class="form-control">
                <option style="display:none">Selecione: Necessidade</option>
                <option>Status</option>
                <option>Conhecimento</option>
                <option>Novas experiencias</option>
                <option>Diversão</option>
                <option>Bem-estar</option>
                <option>Exclusividade</option>
              </select>
            </div><br>
      <div class="classa">
              <select name = "client[profile]" placeholder= "Perfil" required="required" class="form-control">
                <option style="display:none">Selecione: Perfil</option>
                <option>Esporte</option>
                <option>Refinado</option>
                <option>Simples</option>
                <option>Cult</option>
                <option>Comida</option>
                <option>Vinhos</option>
                <option>Outros</option>
              </select>
            </div><br>
      <div class="classa">
          <select name = "client[averageBudget]" placeholder= "Budget Mínino" required="required" class="form-control">
            <option style="display:none">Selecione: Budget Mínimo</option>
            <option>Até 10k</option>
            <option>Até 20k</option>
            <option>Até 50k</option>
            <option>Até 100k</option>
            <option>Maior que 100k</option>
          </select>      </div><br>
      <div class="classa">
          <input type="text" name = "client[travelPreferences]" placeholder= "Preferencias de viagem" required="required" class="form-control">
        </div><br>
      <div class="classa">
          <input type="text" name = "client[adeptResorts]" placeholder= "Adepto a resorts" required="required" class="form-control">
        </div><br>
    </div>
    <div class="col-sm rowclass">
      <div class="classa">
          <input type="text" name = "client[travelClass]" placeholder= "Preferencia de classe no avião" required="required" class="form-control">
        </div><br>
      <div class="classa">
          <input type="text" name = "client[travelSeat]" placeholder= "Preferencia de assento no avião" required="required" class="form-control">
        </div><br>
      <div class="classa">
          <input type="text" name = "client[sports]" placeholder= "Preferencia por esportes" required="required" class="form-control">
        </div><br>
      <div class="classa">
          <input type="text" name = "client[foodPref]" placeholder= "Preferencia de alimentação" required="required" class="form-control">
        </div><br>
      <div class="classa">
        <input type="text" name = "client[allergies]" placeholder= "Alergias" required="required" class="form-control">
      </div><br>
    </div>
  </div>
</div>
<br>
    <button type="submit" class="btn btn-primary" id="buttonPages" >Submit</button>
</form>
