<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>
<form action="/new/pageE/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">
  <label> Hotel </label><br>
  <div class="form-group">
    <label> Passageiros </label><br>
    <input class="form-check-input" type="checkbox">
    <input placeholder="Responsável" value="{{budget.file.responsibleTravel}}">
    <br><br>
    <input class="form-check-input" type="checkbox">
    <input placeholder="Acompanhante">
    <div id="add_acompanhantesvoo">
    </div><br>
    <div class="dinamic_spec">
      <div class="row rowclass">
        <div class="col-sm" id="landing-hotel-col1">
          <div class="box_hotel_left">
            <div class="classa">
              <input class="form-control" placeholder="Cidade 1" name="hotel[city]">
            </div><br>
            <div class="classa">
              <select required="required" placeholder="Selecione" class="form-control" name=hotel[food]>
                <option style="display:none">Selecione: Regime de Alimentação</option>
                <option>Café</option>
                <option>Meia pensão</option>
                <option>All inclusive</option>
                <option>Outros</option>
              </select>
            </div><br>
            <div class="classa">
              <select required="required" class="form-control" name="hotel[cancellationPeriod]">
                <option style="display:none">Selecione: Prazo de Cancelamento</option>
                <option>Sem prazo</option>
                <option>Com prazo</option>
                <option>Outro</option>
              </select>
            </div><br>
            <div class="classa">
              <input class="form-control" placeholder="Hotel 1" name="hotel[hotel]">
            </div><br>
          </div>
        </div>
        <div class="col-sm" id="landing-hotel-col2">
          <div class="box_hotel_right">
            <div class="classa">
              <input class="form-control" placeholder="Valor Apto" name="hotel[valueApt]">
            </div><br>
            <div class="classa">
              <input class="form-control" placeholder="Número de diárias" name="hotel[numberDaily]">
            </div><br>
            <div class="classa">
              <input class="form-control" placeholder="Número de Apartamentos" name="hotel[numberApt]">
            </div><br>
            <div class="classa">
              <input class="form-control" placeholder="Total" name="hotel[total]">
            </div><br>
          </div>
        </div>
      </div>
      <button type="button" name="" class="add_buttons" id="add-hotel">+Hoteis/Cidades</button>
      <br><br>
    </div>
    <button type="submit" class="btn btn-primary" id="buttonPages" >submit</button>
  </form>
  <script type="text/javascript" src="/javascripts/replica.js">  </script>
