<header class="login_page">
  navbar
</header>
<form action="/new/pageC/{{client_id}}" method="post" class="pagesFront">
  <div class="containerPages">
    <h1>PageD</h1>
    <button type="submit" class="btn btn-primary" id="buttonPages" >Submit</button>
  </div>
</form>
