<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>
<form action="/new/pageC/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">
  <div class="dinamic_spec">
      <h1>File</h1>
    <div class="form-group">
      <input type="text" name="budget[codFile]" placeholder="Código File" class="form-control" required="required" value="{{codeFile}}">
    </div>

    <div class="dinamic_spec_pagec">
      <h1>Roteiro:</h1>
      <div id="testedacamila" class="rowclass">
        <div class="container rowclass">
          <div class="row rowclass marginPageC">
            <div class="col-sm-auto-pageC rowclass">
              Dia 1
            </div>
            <div class="col-sm-auto-pageC rowclass">
              <input type="date" placeholder="dd/mm/aa" name="budget[planDate]" class= "form-control classCinput2">
            </div>
            <div class="col-sm-auto-pageC rowclass">
              <input placeholder="Cidade" name="budget[planCity]" class= "form-control classCinput2">
            </div>
            <div class="col-sm-auto-pageC rowclass">
              <input placeholder="País" name="budget[planCountry]" class= "form-control classCinput2">
            </div>
          </div><br>
          <div class="form-group">
            <textarea class="form-control" name="budget[planFreeField]" placeholder="Campo Livre" rows="3"></textarea>
          </div>
        </div>
      </div>
      <button type="button" class="add_buttons" id="add_dias"> + Dias</button><br><br>
    </div>

    <button type="submit" class="btn btn-primary" id="buttonPages" >Próximo</button>
  </div>
</form>

<script type="text/javascript" src="/javascripts/replica.js">  </script>
