<header class="login_page">
</header>
<form action="/new/pageG/{{client_id}}" method="post" class="pagesFront">
  <div class="containerPages">
    <h1> Serviços </h1>
    <div class="box1">

      <div class="form-group">
              <label id="titleG" for="exampleInputPassword1">Seguro:</label>
              <input type="text" placeholder= "Qual seguro será utilizado?" required="required" class="form-control">
            </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Adultos:</label>
          <input type="text" placeholder= "Preço por adulto" required="required" class="form-control">
              </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Crianças:</label>
          <input type="text" placeholder= "Preço por criança" required="required" class="form-control">
        </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Infantos:</label>
          <input type="text" placeholder= "Preço por infatos" required="required" class="form-control">
        </div>
      <button type="button" class="add_buttons" id="add_translado">+Seguros</button>
    </div>
    <div class="box2">

      <div class="form-group">
          <label for="exampleInputPassword1">Nome do responsável:</label>
          <input type="text" placeholder= "" required="required" class="form-control">
        </div>
        <label for="exampleInputPassword1">Selecione os acompanhantes</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Acompanhante 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Acompanhante 2
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="option3">
        <label class="form-check-label" for="exampleRadios3">
          Acompanhante 3
        </label>
      </div>

    </div>
    <div class="form-group col-md-3 valor">
      <label class="value1" for="exampleInputPassword1">Valor total de seguro:</label>
      <input type="text" class="form-control value1" placeholder="Valor (R$)">
    </div>
  </div>
  <br><br>
  <div class="containerPages1">
    <div class="box1">

    <div class="form-group">
            <label id="titleG" for="exampleInputPassword1">Tickets/Ingressos:</label>
            <input type="text" placeholder= "" required="required" class="form-control">
          </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Adultos:</label>
        <input type="text" placeholder= "Preço por adulto" required="required" class="form-control">
            </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Crianças:</label>
        <input type="text" placeholder= "Preço por criança" required="required" class="form-control">
      </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Infantos:</label>
        <input type="text" placeholder= "Preço por infatos" required="required" class="form-control">
      </div>

    <button type="button" class="add_buttons" id="add_translado">+Ingressos</button>
  </div>
  <div class="box2">


    <div class="form-group">
        <label for="exampleInputPassword1">Nome do responsável:</label>
        <input type="text" placeholder= "" required="required" class="form-control">
      </div>
      <label for="exampleInputPassword1">Selecione os acompanhantes</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Acompanhante 1
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Acompanhante 2
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="option3">
      <label class="form-check-label" for="exampleRadios3">
        Acompanhante 3
      </label>
    </div>
    <button type="button" class="add_buttons" id="add_translado">+Acompanhantes</button>
  </div>
  <div class="form-group col-md-3 valor">
    <label class="value1" for="exampleInputPassword1">Valor total de Ingressos:</label>
    <input type="text" class="form-control value1" placeholder="Valor (R$)">
  </div>
  </div>
  <br><br>
  <div class="containerPages1">
    <div class="box1">

    <div class="form-group">
            <label id="titleG" for="exampleInputPassword1">Outros:</label>
            <input type="text" placeholder= "" required="required" class="form-control">
          </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Adultos:</label>
        <input type="text" placeholder= "Preço por adulto" required="required" class="form-control">
            </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Crianças:</label>
        <input type="text" placeholder= "Preço por criança" required="required" class="form-control">
      </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Infantos:</label>
        <input type="text" placeholder= "Preço por infatos" required="required" class="form-control">
      </div>

    <button type="button" class="add_buttons" id="add_translado">+Outros</button>
  </div>
<div class="box2">

    <div class="form-group">
        <label for="exampleInputPassword1">Nome do responsável:</label>
        <input type="text" placeholder= "" required="required" class="form-control">
      </div>
      <label for="exampleInputPassword1">Selecione os acompanhantes</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Acompanhante 1
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Acompanhante 2
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="option3">
      <label class="form-check-label" for="exampleRadios3">
        Acompanhante 3
      </label>
    </div>
    <button type="button" class="add_buttons" id="add_translado">+Acompanhantes</button>
  </div>
  <div class="form-group col-md-3 valor">
    <label class="value1" for="exampleInputPassword1">Valor total de outros:</label>
    <input type="text" class="form-control value1" placeholder="Valor (R$)">
    </div>
    <button type="submit" class="btn btn-primary" id="buttonPages">Submit</button>
  </div>
  </div>
  </div>
  <br><br>
</form>
