<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
  navbar
</header>
<form action="/new/pageF" method="post" class="pagesFront">
    <label> Page F </label><br>
    <div class="container rowclass">
  <div class="row rowclass">
    <div class="col-md-auto rowclass">
    <br><br><br>  <label> Passageiros </label><br>
      <input class="form-check-input" type="checkbox">
      <input placeholder="Responsável">
      <br><br>
      <input class="form-check-input" type="checkbox">
      <input placeholder="Acompanhante">

      <div id="add_acompanhantesvoo">
      </div>
      <br>
    </div>
    <div class="col-sm rowclass">
      <div>
       <label> Translado 1</label><br>
       <input type="text" placeholder="De" class="date start-date"/>
        <i class="fa fa-plane"></i>
       <input type="text" placeholder="Para" class="date start-date"/>
       <br><br>
       <input type="date" placeholder="dd/mm/aa" class="date start-date"/>
        <i class="fa fa-calendar"></i>
       <input type="text" placeholder="Horário" class="date start-date"/>
       <br><br>
       <input type="date" placeholder="dd/mm/aa" class="date start-date"/>
       <i class="fa fa-calendar"></i>
       <input type="text" placeholder="Horário" class="date start-date"/>
     </div><br><br><br><br>
      <label>Informações</label><br>
      <div class="classa">
        <input class="form-control" placeholder="Valor Adulto">
      </div><br>
      <div class="classa">
        <input class="form-control" placeholder="CHD">
      </div><br>
      <div class="classa">
        <input class="form-control" placeholder="INF">
      </div><br>
        <button type="submit" class="btn btn-primary" id="buttonPages" >+ Translado</button>
    </div>
    <div class="col-sm rowclass">
            <br><br><label> Carros 1 </label><br>
      <div class="classa">
        <input class="form-control" placeholder="Retirada">
      </div><br>
      <div class="classa">
        <input class="form-control" placeholder="Outros">
      </div><br>
      <div class="classa">
        <input class="form-control" placeholder="Entrega">
      </div><br>
      <div class="classa">
        <input class="form-control" placeholder="Valor carro 1">
      </div><br>
      <div class="classa">
        <input class="form-control" placeholder="Cidade">
      </div><br>
      <div class="classa">
        <input class="form-control" placeholder="Tipo">
      </div><br>
      <div class="classa">
        <input class="form-control" placeholder="Transmissão">
      </div><br>
      <div class="classa">
        <input class="form-control" placeholder="Seguros">
      </div><br>
        <button type="submit" class="btn btn-primary" id="buttonPages" >+ Carro</button>
    </div>
  </div>
</div>
</form>
<script type="text/javascript" src="/javascripts/replica.js">  </script>
