
<header class="login_page">
  navbar
</header>
<form action="/new/pageB" method="post" class="pagesFront">
  <div class="containerPages">
    <h1> PageB </h1>
    <div class="form-group">
            <label for="exampleInputPassword1">Perfil</label>
            <select name = "user[profile]" placeholder= "Perfil" required="required" class="form-control">
              <option selected>Perfil</option>
              <option>Esporte</option>
              <option>Refinado</option>
              <option>Simples</option>
              <option>Cult</option>
              <option>Comida</option>
              <option>Vinhos</option>
              <option>Outros</option>
            </select>
          </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Budget Mínino</label>
        <select name = "user[medium_budget]" placeholder= "Budget Mínino" required="required" class="form-control">
          <option selected>Budget Mínimo</option>
          <option>Até 10k</option>
          <option>Até 20k</option>
          <option>Até 50k</option>
          <option>Até 100k</option>
          <option>Maior que 100k</option>
        </select>      </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Preferencias de viagem</label>
        <input type="text" name = "user[trip_preference]" placeholder= "Preferencias de viagem" required="required" class="form-control">
      </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Adepto a resorts</label>
        <input type="text" name = "user[resorts]" placeholder= "Adepto a resorts" required="required" class="form-control">
      </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Preferencia de classe no avião"</label>
        <input type="text" name = "user[plane_class]" placeholder= "Preferencia de classe no avião" required="required" class="form-control">
      </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Preferencia de assento no avião</label>
        <input type="text" name = "user[plane_seats]" placeholder= "Preferencia de assento no avião" required="required" class="form-control">
      </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Preferencia por esportes</label>
        <input type="text" name = "user[sports_pref]" placeholder= "Preferencia por esportes" required="required" class="form-control">
      </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Preferencia de alimentação</label>
        <input type="text" name = "user[food_pref]" placeholder= "Preferencia de alimentação" required="required" class="form-control">
      </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Alergias</label>
      <input type="text" name = "user[allergies]" placeholder= "Alergias" required="required" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" id="buttonPages" >Submit</button>
  </div>
</form>
