<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>
<form action="/new/pageC/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">
  <div class="containerPages">
      <h1>PageC</h1>
    <div class="form-group">
      <input type="text" name="budget[file][codFile]" placeholder="Código File" class="form-control" required="required">
    </div>
    <div class="form-group">
      <input type="text" name="budget[file][responsibleTravel]" placeholder="Digite o nome do responsável da viagem" class="form-control" required="required">
    </div>

    <!-- bloco acompanhantes/início -->
    <div class="dinamic_spec">

      <div class="col-sm col_acompanhantes">
        <div class="dinamic_spec">
          <div class="row row_acompanhantes">
            <div class="col-sm col_acompanhantes" id="name_acomp">
              <input class="form-control" type="text" name="budget[companion][name]" placeholder="Nome do acompanhante">
            </div>
            <div class="col-sm col_acompanhantes " id="age_acomp">
              <select class="form-control" name="budget[companion][age]">
                <option selected>Faixa etária do acompanhante</option>
                <option>Adulto</option>
                <option>CHD</option>
                <option>INF</option>
              </select>
            </div>
          </div>
          <div id="add_acompanhantes">
          </div>
          <button type="button" id="add-campo-acompanhantes" class="add_buttons"> + Acompanhante</button>
        </div>
        <!-- bloco acompanhantes/fim -->
      </div>
    </div>

    <!-- bloco país-cidade/início -->
    <div class="dinamic_spec">
        <div class="row country_row">

          <!-- coluna dos botões/início -->
          <div class="col-2 no_padding">
            <div class="header">
              <button type="button" name="button" id="button_day_original" class="add_buttons"> +Cidades </button>
              <button type="button" name="button" id="add_country" class="add_buttons"> +países </button>
              <button type="button" name="button" id="increasing" class="move add_buttons"> país anterior </button>
              <button type="button" name="button" id="decreasing" class="move add_buttons"> próximo país </button>
            </div>
          </div>
          <!-- coluna dos botões/fim -->

          <!-- coluna com os países/inicio-->
          <div class="col-sm no_padding">
            <div class="parent" id="button_space">
              <div id="in_country_days1" class="testeReplicaBox Selected">
                <div class="days_input">
                  <input placeholder="Nome do país" class="form-control" name="budget[location][country]"></input>
                </div>
                <div class="days_input">
                  <input placeholder="Aeroporto de ída" class="form-control" name="budget[airportExit]"></input>
                  <input placeholder="Aeroporto de chegada" class="form-control" name="budget[airportArrival]"></input>
                </div>
                <div class="days_input">
                  <input placeholder="data de ída" class="form-control" name="budget[shipmentDate]"></input>
                  <input placeholder="data de chegada" class="form-control" name="budget[returnDate]"></input>
                  <div class="days_input">
                    <input placeholder="Nome da cidade" class="form-control" name="budget[location][cities]">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- coluna com os países/fim-->

      </div>

    <!-- bloco país-cidade/fim -->

    <h1>Roteiro:</h1>
    <div class="roteiro_specs">
      <table class="tabela_roteiro">
        <tr>
          <th><h2 >Dia</h2></th>
          <th><input type="text" name="budget[file][scripts][day][freeField]" placeholder="Campo livre" class="form-control" required="required"></th>
          <th><input type="text" name="budget[file][scripts][day][tips]" placeholder="Dicas" class="form-control" required="required"></th>
        </tr>
      </table>
      <button type="button" class="add_buttons add_dias"> + Dias</button>
    </div>
    <select class="form-control" name="" required="required">
      <option selected>Selecione o tipo de viagem</option>
      <option>Praia</option>
      <option>Metrópole</option>
      <option>Sky</option>
      <option>Outro</option>
    </select>
    <button type="submit" class="btn btn-primary" id="buttonPages" >Submit</button>
  </div>
</form>

<script type="text/javascript" src="/javascripts/replica.js">  </script>
