<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
  navbar
</header>
<form action="/new/pageA" method="post" class="pagesFront">
  <label>Geral/ dados</label>
  <div class="dinamic_spec">
    <h1> Cadastro </h1>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[fullname]" class="form-control" id="fullname" placeholder="Nome Completo"  required="required">
          </div><br>
          <div class="classa">
            <input type="email" name = "client[email]" class="form-control" id="email" placeholder="Email"  required="required">
          </div><br>
          <div class="classa">
            <input type="email" name = "client[email1]" class="form-control" id="email" placeholder="Email">
          </div><br>
          <div class="classa">
            <input type="register" name = "client[register]" class="form-control" id="register" placeholder="CPF"  required="required" onkeypress="$(this).mask('000.000.000-00');">
          </div><br>
          <div class="classa">
            <input type="id" name = "client[id]" class="form-control" id="id" placeholder="RG"  required="required">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[birthday]" class="form-control" id="birthday" placeholder="Data de Nascimento"  required="required">
          </div><br>
          <div class="classa">
            <input type="phone" name = "client[phone]" class="form-control" id="phone" placeholder="Telefone Fixo"  required="required"  onkeypress="$(this).mask('(00) 0000-0000')">
          </div><br>
          <div class="classa">
            <input type="cellphone" name = "client[cellphone]" class="form-control" id="cellphone" placeholder="Celular"  required="required"  onkeypress="$(this).mask('(00) 90000-0000')">
          </div><br>
          <div class="classa">
            <input type="cellphone1" name = "client[cellphone1]" class="form-control" id="cellphone1" placeholder="Celular"  required="required"  onkeypress="$(this).mask('(00) 90000-0000')">
          </div><br>
        </div>
      </div>
    </div>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[street]" class="form-control" id="street" placeholder="Rua/ Av./ etc"  required="required">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[neighbourhood]" class="form-control" id="neighbourhood" placeholder="Bairro"  required="required">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[complement]" class="form-control" id="complement" placeholder="Complemento"  required="required">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[city]" class="form-control" id="city" placeholder="Cidade"  required="required">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[cep]" class="form-control" id="cep" placeholder="CEP"  required="required">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[state]" class="form-control" id="state" placeholder="Estado"  required="required">
          </div><br>
          <div class="classa">
            <select name="client[state] "required="required" class="form-control">
              <option style="display:none">Selecione: Estado</option>
              <option>AC</option>
              <option>AL</option>
              <option>AP</option>
              <option>AM</option>
              <option>BA</option>
              <option>CE</option>
              <option>DF</option>
              <option>ES</option>
              <option>GO</option>
              <option>MA</option>
              <option>MT</option>
              <option>MS</option>
              <option>MG</option>
              <option>PA</option>
              <option>PB</option>
              <option>PR</option>
              <option>PE</option>
              <option>PI</option>
              <option>RJ</option>
              <option>RN</option>
              <option>RS</option>
              <option>RO</option>
              <option>RR</option>
              <option>SC</option>
              <option>SP</option>
              <option>SE</option>
              <option>TO</option>
            </select>
          </div><br>
        </div>
      </div>
    </div>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <select name="client[maritalStatus] "required="required" class="form-control">
              <option style="display:none">Selecione: Estado Civil</option>
              <option>Casado</option>
              <option>Solteiro</option>
              <option>Viuvo</option>
              <option>Noivo</option>
            </select>
          </div><br>
          <div class="classa">
            <input type="profession" name = "client[profession]" class="form-control" id="profession" placeholder="Profissão"  required="required">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[wedding_anniversary]" class="form-control" id="wedding_anniversary" placeholder="Aniversário de Casamento"  required="required">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[passport]" class="form-control" id="passport" placeholder="Passaporte"  required="required">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[passportvalidation]" class="form-control" id="passportvalidation" placeholder="Validade Passaporte"  required="required">
          </div><br>
        </div>
      </div>
    </div>
  </div>
  <div class="dinamic_spec">
    <div id="familypageA">

      <h1>Família</h1>
      <div class="container rowclass">
        <div class="row rowclass">
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="spouseName" name = "client[spouseName]" class="form-control" id="spouseName" placeholder="Conjuge"  required="required">
            </div><br>
            <div class="classa">
              <input type="email" name = "client[email2]" class="form-control" id="email" placeholder="Email"  required="required">
            </div><br>
            <div class="classa">
              <input type="profession2" name = "client[profession2]" class="form-control" id="profession2" placeholder="Profissão"  required="required">
            </div><br>
            <div class="classa">
              <input type="phone1" name = "client[phone1]" class="form-control" id="phone1" placeholder="Telefone Fixo"  required="required"  onkeypress="$(this).mask('(00) 0000-0000')">
            </div><br>
          </div>
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[birthday]" class="form-control" id="birthday" placeholder="Data de Nascimento"  required="required">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[passport]" class="form-control" id="passport" placeholder="Passaporte"  required="required">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[passportvalidation1]" class="form-control" id="passportvalidation1" placeholder="Validade Passaporte"  required="required">
            </div><br>
          </div>
        </div>
      </div>
      <div class="container rowclass">
        <div class="row rowclass">
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="sondaughter" name = "client[sondaughter]" class="form-control" id="sondaughter" placeholder="Filho/a"  required="required">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[birthday]" class="form-control" id="birthday" placeholder="Data de Nascimento"  required="required">
            </div><br>
          </div>

          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[passport1]" class="form-control" id="passport1" placeholder="Passaporte"  required="required">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[passportvalidation2]" class="form-control" id="passportvalidation2" placeholder="Validade Passaporte"  required="required">
            </div><br>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="add_buttons" id="add-filhos">+ Filhos</button>
  </div>

  <div class="dinamic_spec">
    <div id="acompanhantespageA">
      <h1> Acompanhantes </h1>
      <div class="container rowclass">
        <div class="row rowclass">
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[fullname1]" class="form-control" id="fullname" placeholder="Nome Completo"  required="required">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[email3]" class="form-control" id="email3" placeholder="Email"  required="required">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[cellph2]" class="form-control" id="cellph2" placeholder="Celular"  required="required">
            </div><br>
          </div>
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[birthday1]" class="form-control" id="birthday1" placeholder="Data de Nascimento"  required="required">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[passport3]" class="form-control" id="passport3" placeholder="Passaporte"  required="required">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[passportvalidation3]" class="form-control" id="passportvalidation3" placeholder="Validade Passaporte"  required="required">
            </div><br>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="add_buttons" id="add-companion">+ Acompanhantes</button>
  </div>
  <div class="dinamic_spec">
    <h1>Redes Sociais</h1>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <select name="client[funil] "required="required" class="form-control">
              <option style="display:none">Selecione: Funil Vendas</option>
              <option>Instagram</option>
              <option>Facebook</option>
              <option>Email</option>
              <option>Google</option>
              <option>Indicação</option>
              <option>Outros</option>
            </select>
          </div>
          <div class="classa">
            <input type="facebook" name = "client[facebook]" class="form-control" id="facebook" placeholder="Facebook"  required="required">
          </div>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="instagram" name = "client[instagram]" class="form-control" id="instagram" placeholder="Instagram"  required="required">
          </div>
          <div class="classa">
            <input type="others" name = "client[others]" class="form-control" id="others" placeholder="Outros"  required="required">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="buttonPages">Submit</button>
  </div>
</form>
<script type="text/javascript" src="/javascripts/replica.js">  </script>
