<header class="login_page">
  navbar
</header>
<form action="/new/pageA" method="post" class="pagesFront">
  <label>Page A</label>
  <div class="container rowclass">
  <div class="row rowclass">
    <div class="col-sm rowclass">
      <div class="classa">
        <input type="fullname" name = "client[fullname]" class="form-control" id="fullname" placeholder="Nome Completo"  required="required">
      </div><br>
      <div class="classa">
        <input type="register" name = "client[register]" class="form-control" id="register" placeholder="CPF"  required="required">
      </div><br>
      <div class="classa">
        <input type="phone" name = "client[phone]" class="form-control" id="phone" placeholder="Telefone Fixo"  required="required">
      </div><br>
      <div class="classa">
        <input type="cellphone" name = "client[cellphone]" class="form-control" id="cellphone" placeholder="Celular"  required="required">
      </div><br>
      <div class="classa">
        <input type="email" name = "client[email]" class="form-control" id="email" placeholder="Email"  required="required">
      </div><br>
      <div class="classa">
        <input type="email" name = "client[email1]" class="form-control" id="email" placeholder="Email">
      </div><br>
    </div>
    <div class="col-sm rowclass">
      <div class="classa">
        <input type="adress" name = "client[adress]" class="form-control" id="adress" placeholder="Endereço"  required="required">
      </div><br>
      <div class="classa">
        <input type="id" name = "client[id]" class="form-control" id="id" placeholder="RG"  required="required">
      </div><br>
      <div class="classa">
          <input type="passport" name = "client[passport]" class="form-control" id="passport" placeholder="Passaporte"  required="required">
        </div><br>
        <div class="classa">
          <input type="maritalStatus" name = "client[maritalStatus]" class="form-control" id="maritalStatus" placeholder="Estado Civil"  required="required">
        </div><br>
        <div class="classa">
          <input type="spouseName" name = "client[spouseName]" class="form-control" id="spouseName" placeholder="Conjuge"  required="required">
        </div><br>
        <div class="classa">
          <input type="children" name = "client[children]" class="form-control" id="children" placeholder="Filhos"  required="required">
        </div><br>
    </div>
    <div class="col-sm rowclass">
      <div class="classa">
        <input type="childrenAge" name = "client[childrenAge]" class="form-control" id="childrenAge" placeholder="Idade dos Filhos"  required="required">
      </div><br>
      <div class="classa">
        <input type="profession" name = "client[profession]" class="form-control" id="profession" placeholder="Profissão"  required="required">
      </div><br>
      <div class="classa">
        <input type="spouseProfession" name = "client[spouseProfession]" class="form-control" id="spouseProfession" placeholder="Profissão Conjuge"  required="required">
      </div><br>  <div class="classa">
          <input type="instagram" name = "client[instagram]" class="form-control" id="instagram" placeholder="Instagram"  required="required">
        </div><br>
        <div class="classa">
          <input type="facebook" name = "client[facebook]" class="form-control" id="facebook" placeholder="Facebook"  required="required">
        </div><br>
        <div class="classa">
                <select name="client[funil] "required="required" class="form-control">
                  <option style="display:none">Selecione: Funil Vendas</option>
                  <option>Instagram</option>
                  <option>Facebook</option>
                  <option>Email</option>
                  <option>Google</option>
                  <option>Indicação</option>
                  <option>Outros</option>
                </select>
              </div><br>
    </div>
  </div>
</div>
<br>
        <button type="submit" class="btn btn-primary" id="buttonPages">Sign up</button>

</form>
