///////////////PAGE E CERTAAA


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>

<form action="/new/pageD/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">

  <div class="container rowclass">
    <div class="row">
      <div class="col-2">


        <label> Passageiros </label><br>
        <input class="form-check-input" type="checkbox">
        <input placeholder="Responsável" value="{{budget.file.responsibleTravel}}">
        <br><br>
        <input class="form-check-input" type="checkbox">
        <input placeholder="Acompanhante" >
      </div>
      <div class="col-5">
        <label> Voo</label>
        <br>
        <input type="text" placeholder="Origem" name="flight[from]" class="date start-date"/>
        <i class="fa fa-plane"></i>
        <input type="text" placeholder="Destino" name="flight[destination]" class="date start-date"/>
        <br><br>
        <input type="date" placeholder="dd/mm/aa" name="flight[dateFrom]" class="date start-date"/>
        <i class="fa fa-calendar"></i>
        <input type="date" placeholder="dd/mm/aa" name="flight[dateDestination]" class="date start-date"/>
        <br><br>
      </div>

      <div class="col-5">

        <label> Valores </label>
        <br>
        Adulto:
        <input name="flight[goValueAdult]" type="text" id="num1" onblur="calcular1()" placeholder="Valor ida" class="valor"/>
        <i class="fa fa-money"></i>
        <input name="flight[returnValueAdult]" type="text" id="num2" onblur="calcular1()" placeholder="Valor Volta" class="valor"/>
        <span>&#61;</span>
        <input name="flight[totalValueAdult]" type="text" id="result1" onblur="calcular1()" placeholder="Valor Total" class="valor"/>
        <span id="result"></span>
        <br><br>
        CHD  :
        <input name="flight[goValueCHD]" type="text" id="num3" onblur="calcular2()" placeholder="Valor ida" class="valor"/>
        <i class="fa fa-money"></i>
        <input name="flight[returnValueCHD]" type="text" id="num4" onblur="calcular2()" placeholder="Valor Volta" class="valor"/>
        <span>&#61;</span>
        <input name="flight[totalValueCHD]" type="text" id="result2" onblur="calcular2()" placeholder="Valor Total" class="valor"/>
        <span id="result"></span>
        <br><br>

        INF   :
        <input name="flight[goValueInf]" type="text" id="num5" onblur="calcular3()" placeholder="Valor ida" class="valor"/>
        <i class="fa fa-money"></i>
        <input name="flight[returnValueInf]" type="text" id="num6" onblur="calcular3()" placeholder="Valor Volta" class="valor"/>
        <span>&#61;</span>
        <input name="flight[totalValueInf]" type="text" id="result3" onblur="calcular3()" placeholder="Valor Total" class="valor"/>
        <span id="result"></span>
      </div>
    </div>
    <div id="add_voo">
    </div>
  </div>
  <button type="button" id="add-voo" class="add_buttons"> + Voo </button>
  <br><br><BR>
</div>
<button type="submit" class="btn btn-primary" id="buttonPages" >Submit</button>
<br><br><br>

</form>
</div>
</form>
<script type="text/javascript" src="/javascripts/replica.js">  </script>
<script type="text/javascript" src="/javascripts/operations.js">  </script>
