<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
  navbar
</header>
<form action="/new/pageA" method="post" class="pagesFront">
  <div class="dinamic_spec">
    <h1> Cadastro </h1>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[fullname]" class="form-control" id="fullname" placeholder="Nome Completo">
          </div><br>
          <div class="classa">
            <input type="email" name = "client[email]" class="form-control" id="email" placeholder="Email">
          </div><br>
          <div class="classa">
            <input type="email" name = "client[email1]" class="form-control" id="email" placeholder="Confirme seu email">
          </div><br>
          <div class="classa">
            <input type="register" name = "client[register]" class="form-control" id="register" placeholder="CPF"   onkeypress="$(this).mask('000.000.000-00');">
          </div><br>
          <div class="classa">
            <input type="id" name = "client[id]" class="form-control" id="id" placeholder="RG">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[birthDate]" class="form-control" id="birthDate" placeholder="Data de Nascimento">
          </div><br>
          <div class="classa">
            <input type="phone" name = "client[phone]" class="form-control" id="phone" placeholder="Telefone Fixo"  onkeypress="$(this).mask('(00) 0000-0000')">
          </div><br>
          <div class="classa">
            <input type="cellphone" name = "client[cellphone]" class="form-control" id="cellphone" placeholder="Celular"   onkeypress="$(this).mask('(00) 90000-0000')">
          </div><br>
          <div class="classa">
            <input type="cellphone1" name = "client[cellphone1]" class="form-control" id="cellphone1" placeholder="Celular"  onkeypress="$(this).mask('(00) 90000-0000')">
          </div><br>
        </div>
      </div>
    </div>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[street]" class="form-control" id="street" placeholder="Rua/ Av./ etc">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[neighbourhood]" class="form-control" id="neighbourhood" placeholder="Bairro">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[complement]" class="form-control" id="complement" placeholder="Complemento">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[city]" class="form-control" id="city" placeholder="Cidade">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[zipcode]" class="form-control" id="zipcode" placeholder="CEP">
          </div><br>
          <div class="classa">
            <select name="client[state]" class="form-control">
              <option style="display:none">Selecione: Estado</option>
              <option>AC</option>
              <option>AL</option>
              <option>AP</option>
              <option>AM</option>
              <option>BA</option>
              <option>CE</option>
              <option>DF</option>
              <option>ES</option>
              <option>GO</option>
              <option>MA</option>
              <option>MT</option>
              <option>MS</option>
              <option>MG</option>
              <option>PA</option>
              <option>PB</option>
              <option>PR</option>
              <option>PE</option>
              <option>PI</option>
              <option>RJ</option>
              <option>RN</option>
              <option>RS</option>
              <option>RO</option>
              <option>RR</option>
              <option>SC</option>
              <option>SP</option>
              <option>SE</option>
              <option>TO</option>
            </select>
          </div><br>
        </div>
      </div>
    </div>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <select name="client[maritalStatus]" class="form-control">
              <option style="display:none">Selecione: Estado Civil</option>
              <option>Casado</option>
              <option>Solteiro</option>
              <option>Viuvo</option>
              <option>Noivo</option>
            </select>
          </div><br>
          <div class="classa">
            <input type="profession" name = "client[profession]" class="form-control" id="profession" placeholder="Profissão">
          </div><br>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="fullname" name = "client[wedding_anniversary]" class="form-control" id="wedding_anniversary" placeholder="Aniversário de Casamento">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[passport]" class="form-control" id="passport" placeholder="Passaporte">
          </div><br>
          <div class="classa">
            <input type="fullname" name = "client[passportValidation]" class="form-control" id="passportValidation" placeholder="Validade Passaporte">
          </div><br>
        </div>
      </div>
    </div>
  </div>
  <div class="dinamic_spec">
    <div id="familypageA">
      <h1>Família</h1>
      <div class="container rowclass">
        <div class="row rowclass">
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="spouseName" name = "client[spouseName]" class="form-control" id="spouseName" placeholder="Cônjuge">
            </div><br>
            <div class="classa">
              <input type="email" name = "client[spouseEmail]" class="form-control" id="email" placeholder="Email">
            </div><br>
            <div class="classa">
              <input type="profession2" name = "client[spouseProfession]" class="form-control" id="profession2" placeholder="Profissão">
            </div><br>
            <div class="classa">
              <input type="phoneFamily" name = "client[phoneFamily]" class="form-control" id="phoneFamily" placeholder="Telefone Fixo"  onkeypress="$(this).mask('(00) 0000-0000')">
            </div><br>
          </div>
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[birthDateSpouse]" class="form-control" id="birthDateSpouse" placeholder="Data de Nascimento">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[spousePassport]" class="form-control" id="spousePassport" placeholder="Passaporte">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[spousePassportValidation]" class="form-control" id="spousePassportValidation" placeholder="Validade Passaporte">
            </div><br>
          </div>
        </div>
      </div>
      <div class="container rowclass">
        <div class="row rowclass">
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="sondaughter" name = "client[children]" class="form-control" id="children" placeholder="Filho/a">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[birthDateChildren]" class="form-control" id="birthDateChildren" placeholder="Data de Nascimento">
            </div><br>
          </div>

          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[childrenPassport]" class="form-control" id="childrenPassport" placeholder="Passaporte">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[childrenPassportValidation]" class="form-control" id="childrenPassportValidation" placeholder="Validade Passaporte">
            </div><br>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="add_buttons" id="add-filhos">+ Filhos</button>
  </div>

  <div class="dinamic_spec">
    <div id="acompanhantespageA">
      <h1> Acompanhantes </h1>
      <div class="container rowclass">
        <div class="row rowclass">
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[companionFullname]" class="form-control" id="companionFullname" placeholder="Nome Completo">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[companionEmail]" class="form-control" id="companionEmail" placeholder="Email">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[companionCellphone]" class="form-control" id="companionCellphone" placeholder="Celular">
            </div><br>
          </div>
          <div class="col-sm pageA-padding">
            <div class="classa">
              <input type="fullname" name = "client[birthDateCompanion]" class="form-control" id="birthDateCompanion" placeholder="Data de Nascimento">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[companionPassport]" class="form-control" id="companionPassport" placeholder="Passaporte">
            </div><br>
            <div class="classa">
              <input type="fullname" name = "client[companionPassportValidation]" class="form-control" id="companionPassportValidation" placeholder="Validade Passaporte">
            </div><br>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="add_buttons" id="add-companion">+ Acompanhantes</button>
  </div>
  <div class="dinamic_spec">
    <h1>Redes Sociais</h1>
    <div class="container rowclass">
      <div class="row rowclass">
        <div class="col-sm pageA-padding">
          <div class="classa">
            <select name="client[funil]" class="form-control">
              <option style="display:none">Selecione: Funil Vendas</option>
              <option>Instagram</option>
              <option>Facebook</option>
              <option>Email</option>
              <option>Google</option>
              <option>Indicação</option>
              <option>Outros</option>
            </select>
          </div>
          <div class="classa">
            <input type="facebook" name = "client[facebook]" class="form-control" id="facebook" placeholder="Facebook">
          </div>
        </div>
        <div class="col-sm pageA-padding">
          <div class="classa">
            <input type="instagram" name = "client[instagram]" class="form-control" id="instagram" placeholder="Instagram">
          </div>
          <div class="classa">
            <input type="others" name = "client[others]" class="form-control" id="others" placeholder="Outros">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="buttonPages">Próximo</button>
  </div>
</form>
<script type="text/javascript" src="/javascripts/replica.js">  </script>
