<header class="login_page">
  navbar
</header>
<form action="/new/pageE" method="post" class="pagesFront">
  <div class="containerPages">
  <div class="classPageE">
    <label for="responsable">1</label>
    <input class="form-check-input" type="checkbox">
    <input placeholder="Responsável">
  </div>
  <div class="classe1">
    <label for="companion1">2</label>
    <input class="form-check-input" type="checkbox">
    <input placeholder="Acompanhante 1">
  </div>
  <div class="classe1">
    <label for="companion2">3</label>
    <input class="form-check-input" type="checkbox">
    <input placeholder="Acompanhante 2">
  </div>
  <div class="classe1">
    <label for="companion3">4</label>
    <input class="form-check-input" type="checkbox">
    <input placeholder="Acompanhante 3">
  </div>
  <div class="classPageE">
    <label for="city">Cidade:</label>
    <input class="form-control" placeholder="Cidade">
  </div>
  <div class="classPageE">
    <label for="option1">Opção 1</label>
    <input class="form-control" placeholder="Opção 1">
  </div>
  <div class="classPageE">
    <label for="ap_cost1">Valor do Apartamento</label>
    <input class="form-control" placeholder="Valor Apto">
  </div>
  <div class="classPageE">
    <label for="days1">Número de Diárias</label>
    <input class="form-control" placeholder="Número de diárias">
  </div>
  <div class="classPageE">
    <label for="ap_number1">Número de Apartamentos</label>
    <input class="form-control" placeholder="Número de Apartamentos">
  </div>
  <div class="classPageE">
    <label for="total1">Total</label>
    <input class="form-control" placeholder="Total">
  </div>
  <div class="classPageE">
    <label for="option2">Opção 2</label>
    <input class="form-control" placeholder="Opção 2">
  </div>
  <div class="classPageE">
    <label for="ap_cost2">Valor do Apartamento</label>
    <input class="form-control" placeholder="Valor Apto">
  </div>
  <div class="classPageE">
    <label for="days2">Número de Diárias</label>
    <input class="form-control" placeholder="Número de diárias">
  </div>
  <div class="classPageE">
    <label for="ap_number2">Número de Apartamentos</label>
    <input class="form-control" placeholder="Número de Apartamentos">
  </div>
  <div class="classPageE">
    <label for="total2">Total</label>
    <input class="form-control" placeholder="Total">
  </div>
  <div class="classPageE">
    <label for="option3">Opção 3</label>
    <input class="form-control" placeholder="Opção 3">
  </div>
  <div class="classPageE">
    <label for="ap_cost3">Valor do Apartamento</label>
    <input class="form-control" placeholder="Valor Apto">
  </div>
  <div class="classPageE">
    <label for="days3">Número de Diárias</label>
    <input class="form-control" placeholder="Número de diárias">
  </div>
  <div class="classPageE">
    <label for="ap_number3">Número de Apartamentos</label>
    <input class="form-control" placeholder="Número de Apartamentos">
  </div>
  <div class="classPageE">
    <label for="total3">Total</label>
    <input class="form-control" placeholder="Total">
  </div>
  <div class="form-group">
          <label for="food_reg">Regime de Alimentação</label>
          <select required="required" class="form-control">
            <option selected>Selecione</option>
            <option>Café</option>
            <option>Meia pensão</option>
            <option>All inclusive</option>
            <option>Outros</option>
          </select>
        </div>
        <div class="form-group">
                <label for="cancelation_lim">Prazo de Cancelamento</label>
                <select required="required" class="form-control">
                  <option selected>Selecione</option>
                  <option>Sem prazo</option>
                  <option>Com prazo</option>
                  <option>Outro</option>
                </select>
              </div>
      <button type="submit" class="btn btn-primary" id="buttonPages" >+ Hotéis/ Cidades</button>
    </div>
</form>
