<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>
<form action="/new/pageE/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">

  <div class="dinamic_spec">
    <h1> Hotel </h1>


    <div>
      <h6>Responsável da viagem</h6>
      <input type="text" class="form-control" value="{{client.fullname}}" readonly>
      <br><br>
      <h6>Acompanhantes</h6>
      {{#each test1}}
        <input type="text" class="form-control" value="{{name}}" readonly>
        <br>
      {{/each}}
    </div>


    <div class="row rowclass">
    <!-- Coluna 1 início -->
      <div class="col-sm-4" id="landing-hotel-col1">
        <div class="box_hotel_left box_hotel_left_selected" id="col-left1">
          <div class="rowclass">
            <br><br><br><br><br><br><br>
            <div class="classa">
            <div class="classa">
              <input class="form-control" placeholder="Hotel 1" name="hotel[hotel1]" >
            </div><br>
            <div class="classa">
              <label>Número de pessoas</label>
              <input class="form-control" placeholder="N. de Pessoas" name="hotel[qntd1]" value="0">
            </div><br>
            <input class="form-control" placeholder="Tipo de acomodação" name="hotel[acomodationType1]" >
          </div><br>
            <div class="classa">
              <input class="form-control" placeholder="Categoria do Apartamento" name="hotel[category1]" >
            </div><br>
            <div class="classa">
              <select placeholder="Selecione" class="form-control" name=hotel[food1] >
                <option style="display:none">Regime de Alimentação</option>
                <option>Com Café da Manhã</option>
                <option>Sem Café da Manhã</option>
                <option>Pensão Completa</option>
                <option>Meia pensão</option>
                <option>All inclusive</option>
                <option>Outros</option>
              </select>
            </div><br>
            <div class="classa">
              <label>Valor apto.</label>
              <input class="form-control" placeholder="Valor Apto" name="hotel[valueApt1]" id="vApto11" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <label>Número de diárias</label>
              <input class="form-control" placeholder="Número de diárias" name="hotel[numberDaily1]" id="nDiarias11" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <label>Número de apartamentos</label>
              <input class="form-control" placeholder="Número de Apartamentos" name="hotel[numberApt1]" id="nAptos11" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <label>Total Hotel 1</label>
              <input class="form-control" placeholder="Total" name="hotel[total1]" id="vTotal11" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <select class="form-control" name="hotel[cancellationPeriod]" >
                <option style="display:none">Prazo de Cancelamento</option>
                <option>Sem prazo de cancelamento</option>
                <option>Com prazo de cancelamento</option>
                <option>Outro</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- Coluna 1 fim -->


      <!-- Coluna 2 início -->
      <div class="col-sm-4" id="landing-hotel-col2">
        <div class="box_hotel_midle box_hotel_midle_selected" id="col-middle1">
          <div class="rowclass">
            <h1>Cidade 1</h1>
            <div class="classa">
              <input class="form-control" placeholder="Cidade 1" name="hotel[city]" >
            </div><br>
            <div class="classa">
              <input class="form-control" placeholder="Hotel 2" name="hotel[hotel2]" >
            </div><br>
            <div class="classa">
              <label>Número de pessoas</label>
              <input class="form-control" placeholder="N. de Pessoas" name="hotel[qntd2]" value="0">
            </div><br>
            <div class="classa">
              <input class="form-control" placeholder="Tipo de acomodação" name="hotel[acomodationType2]" >
            </div><br>
            <div class="classa">
              <input class="form-control" placeholder="Categoria do Apartamento" name="hotel[category2]" >
            </div><br>
            <div class="classa">
              <select placeholder="Selecione" class="form-control" name=hotel[food2] >
                <option style="display:none">Regime de Alimentação</option>
                <option>Com Café da Manhã</option>
                <option>Sem Café da Manhã</option>
                <option>Pensão Completa</option>
                <option>Meia pensão</option>
                <option>All inclusive</option>
                <option>Outros</option>
              </select>
            </div><br>
            <div class="classa">
              <label>Valor apto.</label>
              <input class="form-control" placeholder="Valor Apto" name="hotel[valueApt2]" id="vApto21" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <label>Número de diárias</label>
              <input class="form-control" placeholder="Número de diárias" name="hotel[numberDaily2]" id="nDiarias21" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <label>Número de apartamentos</label>
              <input class="form-control" placeholder="Número de Apartamentos" name="hotel[numberApt2]" id="nAptos21" onblur="vHoteis2()" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <label>Total Hotel 2</label>
              <input class="form-control" placeholder="Total" name="hotel[total2]" id="vTotal21" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <select class="form-control" name="hotel[cancellationPeriod2]" >
                <option style="display:none">Prazo de Cancelamento</option>
                <option>Sem prazo de cancelamento</option>
                <option>Com prazo de cancelamento</option>
                <option>Outro</option>
              </select>
            </div>
            <label>Moeda utilizada:</label>
            <div id="companion_camp" >
              <select placeholder="Selecione" class="form-control" name=hotel[coin] >
                <option style="display:none">Selecione qual moeda:</option>
                <option>USD</option>
                <option>R$</option>
                <option>€</option>
              </select>
            </div><br><br>
          </div>
        </div>
      </div>
      <!-- Coluna 2 fim -->


      <!-- Coluna 3 início -->
      <div class="col-sm-4" id="landing-hotel-col3">
        <div class="box_hotel_right box_hotel_right_selected" id="col-right1">
          <div class="rowclass">
            <br><br><br><br><br><br><br>
            <div class="classa">
              <input class="form-control" placeholder="Hotel 3" name="hotel[hotel3]" >
            </div><br>
            <div class="classa">
              <label>Número de pessoas</label>
              <input class="form-control" placeholder="N. de Pessoas" name="hotel[qntd3]" value="0">
            </div><br>
            <div class="classa">
              <input class="form-control" placeholder="Tipo de acomodação" name="hotel[acomodationType3]" >
            </div><br>
            <div class="classa">
              <input class="form-control" placeholder="Categoria do Apartamento" name="hotel[category3]" >
            </div><br>
            <div class="classa">
              <select placeholder="Selecione" class="form-control" name=hotel[food3] >
                <option style="display:none">Regime de Alimentação</option>
                <option>Com Café da Manhã</option>
                <option>Sem Café da Manhã</option>
                <option>Pensão Completa</option>
                <option>Meia pensão</option>
                <option>All inclusive</option>
                <option>Outros</option>
              </select>
            </div><br>
            <div class="classa">
              <label>Valor apto.</label>
              <input class="form-control" placeholder="Valor Apto" name="hotel[valueApt3]" id="vApto31" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <label>Número de diárias</label>
              <input class="form-control" placeholder="Número de diárias" name="hotel[numberDaily3]" id="nDiarias31" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <label>Número de apartamentos</label>
              <input class="form-control" placeholder="Número de Apartamentos" name="hotel[numberApt3]" id="nAptos31" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <label>Total Hotel 3</label>
              <input class="form-control" placeholder="Total" name="hotel[total3]" id="vTotal31" onblur="calcHotel()" value="0">
            </div><br>
            <div class="classa">
              <select class="form-control" name="hotel[cancellationPeriod3]" >
                <option style="display:none">Prazo de Cancelamento</option>
                <option>Sem prazo de cancelamento</option>
                <option>Com prazo de cancelamento</option>
                <option>Outro</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- Coluna 3 fim -->

    </div>
    <button type="button" class="add_buttons" id="prev_hotel">Hotel/cidade anterior</button>
    <button type="button" class="add_buttons" id="add-hotel">+Hoteis/Cidades</button>
    <button type="button" class="add_buttons" id="nxt_hotel">Próximo hotel/cidade</button>
  </div>
<button type="submit" class="btn btn-primary" id="buttonPages" >Próximo</button>

</form>
<script type="text/javascript" src="/javascripts/replica.js">  </script>
<script type="text/javascript" src="/javascripts/operations.js">  </script>
