<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<header class="login_page">

</header>

<form action="/new/pageB/{{client_id}}" method="post" class="pagesFront">
  <div class="dinamic_spec">
    <h1> Características</h1><br><br><br><br>
    <h3> Necessidade </h3><br><br>
    <div class="dinamic_White">
      <div class="form-check form-check-inline float-center corinputs">
        <input class="form-check-input corinputs" type="checkbox" id="checkbox8" value="Status" name="client[profile_Status]" >
        <label class="form-check-label" for="inlineCheckbox1">Status</label>
      </div>
      <div class="form-check form-check-inline float-center">
        <input class="form-check-input" type="checkbox" id="checkbox9" value="Conhecimento" name="client[profile_Conhecimento]" >
        <label class="form-check-label" for="inlineCheckbox2">Conhecimento</label>
      </div>
      <div class="form-check form-check-inline float-center">
        <input class="form-check-input" type="checkbox" id="checkbox10" value="Novas Experiências" name="client[profile_NovasExperiencias]" >
        <label class="form-check-label" for="inlineCheckbox3">Novas Experiências</label>
      </div>
      <div class="form-check form-check-inline float-center">
        <input class="form-check-input" type="checkbox" id="checkbox11" value="Diversão" name="client[profile_Diversao]" >
        <label class="form-check-label" for="inlineCheckbox3">Diversão</label>
      </div>
      <div class="form-check form-check-inline float-center">
        <input class="form-check-input" type="checkbox" id="checkbox12" value="Bem Estar" name="client[profile_BemEstar]" >
        <label class="form-check-label" for="inlineCheckbox3">Bem-Estar</label>
      </div>
      <div class="form-check form-check-inline float-center">
        <input class="form-check-input" type="checkbox" id="checkbox13" value="Exclusividade" name="client[profile_Exclusividade]" >
        <label class="form-check-label" for="inlineCheckbox3">Exclusividade</label>
      </div>
      <div class="input_outros">
        <input type="text" name="client[profile_OtherNeed]"  id="checkbox14" placeholder="Outros" class="form-control" >
      </div>
      <!-- <br>
      <div class="input-group mb-3 float-center">
      <div class="input-group-prepend" type="checkbox" id="checkbox14" value="Outras" name="client[profile_type]">
      <div class="input-group-text">
      <input type="checkbox" placeholder="Outras">
    </div>
  </div>
  <input type="text" class="form-control" aria-label=>
</div> -->
<br>
</div><br><br>



<h3> Perfil </h3><br><br>
<div class="dinamic_White">
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox1" value="Esporte" name="client[profile_Esporte]" >
    <label class="form-check-label" for="inlineCheckbox1">Esporte</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox2" value="Refinado" name="client[profile_Refinado]" >
    <label class="form-check-label" for="inlineCheckbox2">Refinado</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox3" value="Simples" name="client[profile_Simples]" >
    <label class="form-check-label" for="inlineCheckbox3">Simples</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox4" value="Cult" name="client[profile_Cult]" >
    <label class="form-check-label" for="inlineCheckbox3">Cult</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox5" value="Comida" name="client[profile_Comida]" >
    <label class="form-check-label" for="inlineCheckbox3">Comida</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox6" value="Vinhos" name="client[profile_Vinhos]" >
    <label class="form-check-label" for="inlineCheckbox3">Vinhos</label>
  </div>
  <div class="input_outros">
    <input type="text" name="client[profile_OtherType]"  id="checkbox7" placeholder="Outros" class="form-control" >
  </div>
  <br>
  </div>
<br><br>

<h3> Hotéis </h3><br><br>
<div class="dinamic_White">
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox15" value="Contemporâneo" name="client[profile_Contemporaneo]" >
    <label class="form-check-label" for="inlineCheckbox1">Contemporâneo</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox16" value="Clássico" name="client[profile_Classico]" >
    <label class="form-check-label" for="inlineCheckbox2">Clássico</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox17" value="Boutique" name="client[profile_Boutique]" >
    <label class="form-check-label" for="inlineCheckbox3">Boutique</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox18" value="Simples" name="client[profile_HotelSimples]" >
    <label class="form-check-label" for="inlineCheckbox3">Simples</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox19" value="Andar alto" name="client[profile_AndarAlto]" >
    <label class="form-check-label" for="inlineCheckbox3">Andar Alto</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox20" value="Andar baixo" name="client[profile_AndarBaixo]" >
    <label class="form-check-label" for="inlineCheckbox3">Andar Baixo</label>
  </div>
  <div class="input_outros">
    <input type="text" name="client[profile_OtherHotel]"  id="checkbox7" placeholder="Outros" class="form-control" >
  </div>
  <br>
</div><br><br>


<h3> Adepto à Resorts </h3><br><br>
<div class="dinamic_White">
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox21" value="Sim" name="client[profile_ResortSim]" >
    <label class="form-check-label" for="inlineCheckbox3">Sim</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox22" value="Não" name="client[profile_ResortNao]" >
    <label class="form-check-label" for="inlineCheckbox3">Não</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox23" value="Talvez" name="client[profile_ResortTalvez]" >
    <label class="form-check-label" for="inlineCheckbox3">Talvez</label>
  </div>
</div><br><br><br><br>
<div class="classa">
  <select name = "client[average_Budget]" placeholder= "Budget Mínino" class="form-control" >
    <option style="display:none">Selecione: Budget Mínimo</option>
    <option>Até 10k</option>
    <option>Até 20k</option>
    <option>Até 50k</option>
    <option>Até 100k</option>
    <option>Maior que 100k</option>
  </select>      </div><br>
</div><br>
<div class="dinamic_spec"><br>
  <h3> Preferências Voo </h3><br><br>

  <select name="client[plane_class] "="" class="form-control" >
    <option style="display:none">Classe Avião:</option>
    <option>Econômica</option>
    <option>Executiva</option>
    <option>1ª Classe</option>
  </select><br><br><br>

  <select name="client[plane_seat_pref] "="" class="form-control" >
    <option style="display:none">Preferêcia Assento:</option>
    <option>Janela</option>
    <option>Corredor</option>
    <option>Meio</option>
  </select><br><br>

  <h3> Esportes </h3><br><br>
  <div class="dinamic_White">
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox24" value="Corrida" name="client[profile_Corrida]" >
      <label class="form-check-label" for="inlineCheckbox1">Corrida</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox25" value="Bike" name="client[profile_Bike]" >
      <label class="form-check-label" for="inlineCheckbox2">Bike</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox26" value="Natação" name="client[profile_Natação]" >
      <label class="form-check-label" for="inlineCheckbox3">Natação</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox27" value="Corrida carro" name="client[profile_CoriidaCarro]" >
      <label class="form-check-label" for="inlineCheckbox3">Corrida carro</label>
    </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox29" value="Musculação" name="client[profile_Musculação]" >
    <label class="form-check-label" for="inlineCheckbox3">Musculação</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox30" value="Pesca" name="client[profile_Pesca]" >
    <label class="form-check-label" for="inlineCheckbox3">Pesca</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox31" value="Mergulho" name="client[profile_Mergulho]" >
    <label class="form-check-label" for="inlineCheckbox3">Mergulho</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox32" value="Golf" name="client[profile_Golf]" >
    <label class="form-check-label" for="inlineCheckbox3">Golf</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox33" value="Tênis" name="client[profile_Tênis]" >
    <label class="form-check-label" for="inlineCheckbox3">Tênis</label>
  </div>
  <div class="input_outros">
    <input type="text" name="client[profile_OtherSports]"  id="checkbox333" placeholder="Outros" class="form-control" >
  </div>
  <br>
</div><br><br>


<h3> Gastronomia </h3><br><br>
<div class="dinamic_White">
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox34" value="Italiana" name="client[profile_Italiana]" >
    <label class="form-check-label" for="inlineCheckbox1">Italiana</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox35" value="Japonesa" name="client[profile_Japonesa]" >
    <label class="form-check-label" for="inlineCheckbox2">Japonesa</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox36" value="Mediterranea" name="client[profile_Mediterrânea]" >
    <label class="form-check-label" for="inlineCheckbox3">Mediterrânea</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox37" value="Indiana" name="client[profile_Indiana]" >
    <label class="form-check-label" for="inlineCheckbox3">Indiana</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox38" value="Asiática" name="client[profile_Asiática]" >
    <label class="form-check-label" for="inlineCheckbox3">Asiática</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox39" value="Francesa" name="client[profile_Francesa]" >
    <label class="form-check-label" for="inlineCheckbox3">Francesa</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox40" value="Frutos do mar" name="client[profile_FrutosDoMar]" >
    <label class="form-check-label" for="inlineCheckbox3">Frutos do mar</label>
  </div>
  <div class="form-check form-check-inline float-center">
    <input class="form-check-input" type="checkbox" id="checkbox41" value="Carnes" name="client[profile_Carnes]" >
    <label class="form-check-label" for="inlineCheckbox3">Carnes</label>
  </div>
  <div class="input_outros">
    <input type="text" name="client[profile_OtherDiet]"  id="checkbox422" placeholder="Outros" class="form-control" >
  </div>
  <br>
</div><br><br>
</div><br>
<div class="dinamic_spec"><br>
  <h3> Fumante </h3><br><br>
  <div class="dinamic_White">
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox21" value="Sim" name="client[profile_SmokeSim]" >
      <label class="form-check-label" for="inlineCheckbox3">Sim</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox22" value="Não" name="client[profile_SmokeNão]" >
      <label class="form-check-label" for="inlineCheckbox3">Não</label>
    </div>
  </div><br><br>

  <h3> Alergia </h3><br><br>
  <div class="dinamic_White">
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox21" value="Sim" name="client[profile_AllergySim]" >
      <label class="form-check-label" for="inlineCheckbox3">Sim</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox22" value="Não" name="client[profile_AllergyNão]" >
      <label class="form-check-label" for="inlineCheckbox3">Não</label>
    </div>
    <div class="input_outros">
      <input type="text" name="client[profile_WhichAllergy]"  id="checkbox333" placeholder="Qual" class="form-control" >
    </div>
    <br>
  </div><br><br>

  <h3> Dificuldade de Locomoção </h3><br><br>
  <div class="dinamic_White">
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox21" value="Sim" name="client[profile_DisableSim]" >
      <label class="form-check-label" for="inlineCheckbox3">Sim</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox22" value="Não" name="client[profile_DisableNão]" >
      <label class="form-check-label" for="inlineCheckbox3">Não</label>
    </div>
    <div class="input_outros">
      <input type="text" name="client[profile_WhichDisable]"  id="checkbox333" placeholder="Qual" class="form-control" >
    </div>
    <br>
  </div><br><br>

  <h3> Restrição Alimentar </h3><br><br>
  <div class="dinamic_White">
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox21" value="Sim" name="client[profile_FoodSim]" >
      <label class="form-check-label" for="inlineCheckbox3">Sim</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox22" value="Não" name="client[profile_FoodNão]" >
      <label class="form-check-label" for="inlineCheckbox3">Não</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox43" value="Vegetariano" name="client[profile_FoodVegano]" >
      <label class="form-check-label" for="inlineCheckbox3">Vegetariano</label>
    </div>
    <div class="form-check form-check-inline float-center">
      <input class="form-check-input" type="checkbox" id="checkbox44" value="Vegano" name="client[profile_FoodVegetariano]" >
      <label class="form-check-label" for="inlineCheckbox3">Vegano</label>
    </div>
    <div class="input_outros">
      <input type="text" name="client[profile_WhichFood]"  id="checkbox333" placeholder="Qual" class="form-control" >
    </div>
    <br>
  </div><br><br>

</div><br><br>


</div>


</div>
</div>
<br>
<button type="submit" class="btn btn-primary" id="buttonPages" >Próximo</button>
</div>
</form>
</div>
