<div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class = "th-name">Nome</th>
          <th class = "th-type">CPF</th>
        </tr>
      </thead>
      <tbody id="client_table">
        {{#each clientes}}
        <tr>
          <th>{{fullname}}</th>
          <th>{{register}}</th>
          
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
