@import ../bootstrap/scss/bootstrap.scss

body
  font: 14px "Montserrat", Helvetica, Arial, sans-serif
  text-align: center
  text-decoration: none
  background-color: #EDEDED

a
  color: #00B7FF

div
  padding: 50px
  font: 14px
  font-family: "Montserrat"
  color: #EDEDED !important

input
  background-color: #EDEDED !important
  border-width: 0px

textarea
  background-color: #EDEDED !important
  border-width: 0px

select
  background-color: #EDEDED !important
  border-width: 0px

label

  border-width: 0px

h1
  font-size: 40px
  font-family: "Montserrat"
  font-style: normal

h2
  font-size: 14px
  font-family: serif
  font-style: normal

head
  font-size: 20px
  font-family: cursive
  font-style: normal

aside
  position: relative
  margin-left: 250px
  font-family: "Montserrat"
  font-size: 15px
  font-style: oblique
  background-color: brown
  width: 700px


.maion-alert
  position: fixed
  top: 10px
  right: 10px
  margin-left: 10px

/*----Front do Login/início----*/
.login
  background-color: #CA9283
  width: 100%
  height: 41em

.form_login
  background-color: rgba(255, 255, 255, .55)
  width: 50%
  padding: 7px
  margin-left: auto
  margin-right: auto
  border-radius: 5px

.login_page
  background-color: #323232
  padding: 10px

.container_textbox_login
  padding: 20px

.input-placeholder
  border-radius: 8px
  padding: 5px

.centered
  margin: 0px auto

  header p
    color: red

/*----Front do Login/fim----*/

//FORGOT EMAIL page

.text1
  color: black
  font-family: "Montserrat"

.forgot-box
  background-color: #c4694a
  margin-left: auto
  margin-right: auto
  height: 62.5em
  margin-top: auto
  margin-bottom: auto

.esqueci
  overflow: hidden
  background-color: #FFF
  border-radius: 6px
  padding: 24px
  width: auto
  margin-left: auto
  margin-right: auto
  height: auto
  margin-top: 150px
  align-items: center

.btn-outline-primary
   color: #c4694a
   // background-color: #c4694a
   border-color: #c4694a
   width: 450px
   height: 50px
   box-shadow: 1 3px #1abc9c
   font-weight: 600

.btn-outline-primary:hover
  background-color: #c4694a
  border-color: #0000

.cxemail
  border-radius: 5px
  color: #000
  height: 50px
  width: 450px
  text-align: center
  font-size: 15px
  margin-top: 0px

#titulo
  font-size: 40px
  color: #323232
  font-weight: 900
  padding-bottom: 25px
  font-family: "Montserrat"

.text1
  font-size: x-large
  font-weight: 400
  margin-bottom: -20px

.header-forget
  position: fixed
  top: 0
  z-index: 9000
  background-color: #FFF
  width: 100%
  min-height: 80px
  box-shadow: 0 4px 0 hsla(200,7%,91%,.5)
  border-bottom: 1px solid #d8dcde

.box-border
  border: 1px solid #d8dcde
  border-radius: 4px
  padding: 24px
  width: 600px
  margin-left: auto
  margin-right: auto
  padding-bottom: 0px

.box-forgot
  background: #fff

.cadstro-forgot
  color: black
  padding-top: 15px
  font-size: 20px
  cursor: pointer

.btn-cadastro-forgot
  color: #c4694a
  font-weight: 600

  /*pages - inicio*/

.containerPages
  color: black
  background-color: rgba(255, 255, 255, .55)
  width: 90%
  padding: 7px
  margin-left: auto
  margin-right: auto
  border-radius: 5px

.classF-input
  max-width: 350px

.classCinput
  width: 500px

.classCinput2
  width: 200px

.marginPageC
  margin-left: 100px

.pagesFront
  background-color: #C4694A
  padding-top: 6em
  height: 100%

#buttonPages
  background-color: #F3AB85
  border-color: #B0AEAF

.buttonPagesClass
  background-color: #F3AB85
  border-color: #B0AEAF

label
  color: black

#add_acompanhantes
  padding: 0

#select_da_idade
  margin-top: 30px

.add_buttons
  background-color: #F3AB85
  border-color: #B0AEAF
  border-radius: 10px
  color: #323232
  margin-top: 0.7em

.form-group
  padding-top: 0
  padding-bottom: 0
  margin-bottom: 1em

.pageA-padding
  padding-top: 0


.dinamic_White
  background-color: #EDEDED
  border-radius: 5px
  width: 100%
  margin-left: auto
  margin-right: auto
  // margin-bottom: 1em
  padding: 0em


  /*pages - fim*/

/*--- Front do Dashboard ----*/

.dashboard
  background-color: #CA9283
  width: 100%
  height: 41em
  overflow: hidden

.form_dashboard
  background-color: rgba(255, 255, 255, .55)
  width: 50%
  padding: 20px
  margin-left: auto
  margin-right: auto
  border-radius: 5px

.bodydash
  overflow-x: hidden
  overflow-y: hidden

.dashboard_page
  background-color: #323232
  padding: 10px

.background
  background: url('/images/pinkmap.png') no-repeat center center/cover
  width: 100%
  height: 90%
  padding: 8.5em

/*--- Fim Dashboard ---*/

/*---pageC--- início*/
// Div location
.dinamic_spec
  background-color: #f3ab85
  border-radius: 5px
  width: 90%
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em
  padding: 1em

.dinamic_spec_pagec
  background-color: #C4694A
  border-radius: 5px
  width: 90%
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em
  padding: 1em

  // joão, tira isso dps - início
.parent
  background-color: #C4694A
  overflow: auto
  overflow-x: hidden
  height: 80vh
  padding: 30px
  border-radius: 5px
  max-height: 400px
  border-style: solid
  border-color: #E4B7B4
  border-width: 4px


.scrolled
  background-color: white
  color: black

.header
  background-color: #c4694a
  padding: 0
  border-radius: 5px
  border-right: 0

.no_padding
  padding: 0

.days_input
  margin: 0.3em
  padding: 0

.testeReplicaBox
  background-color: rgba(196, 105, 74, 0.2)
  border-radius: 6px
  margin: 0.8em
  width: 50%
  margin-left: auto
  margin-right: auto

.Selected
  background-color: #f3ab85
.country_row
  border-radius: 5px

// joão, tira isso dps - fim

/*Div location - fim*/

// Table pageC
.tabela_roteiro
  margin-left: auto
  margin-right: auto

#select_da_idade
  margin-top: 30px

#add_acompanhantesvoo
  padding: 0

#add_voo
  padding: 0


.add_buttons
  background-color: #F3AB85
  border-color: #B0AEAF
  border-radius: 10px
  color: #323232
  /*pages - fim*/

  /*PageG inicio*/

.ticket_selected
  background-color: #f3ab85

.insurance_selected
  background-color: #f3ab85

.outros_selected
  background-color: #f3ab85

.valor
  margin-left: auto
  margin-right: auto
// Dias do roteiro
.roteiro_specs
  background-color: #f3ab85
  border-radius: 5px
  width: 90%
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em
  padding: 25px
//Acompanhantes
.col_acompanhantes
  padding: 0
  margin: 1em

.row_acompanhantes
  padding: 0.3em

.botao_confirma
  background-color: blue
  border-color: #B0AEAF
  border-radius: 10px
  color: white


/*---- Page B Beagining ----*/

.dinamic_White
  background-color: #EDEDED
  border-radius: 5px
  width: 100%
  margin-left: auto
  margin-right: auto
  // margin-bottom: 1em
  padding: 0em

.input_outros
  height: 50px
  width: auto
  margin-left: auto
  margin-right: auto
  margin-top: -75px




/*----- Page B Final -----*/






  /*---pageC--- fim*/

.value
  text-align: center

.classa
  padding: 1px

.rowclass
  padding: 0

// Page D INICIO

.classD
  margin-left: 350px



//   Page D FIM

  /*PageG fim */

.autorow
  margin-left: auto
  margin-right: auto


  /*PageG fim */


/*PageD início */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css)

.PageDColLeft
  background-color: #C4694A
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  margin: 20px 0 20px 20px
  padding: 2px
  height: 20em

.PageDColMidle
  background-color: #C4694A
  margin: 20px 0 20px 0
  padding: 2px
  height: 20em

.PageDColRight
  background-color: #C4694A
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  margin: 20px 20px 20px 0
  padding: 2px
  height: 20em

.date
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #111
  max-width: 135px
  min-height: 32px
  text-align: center
  font-size: 14px
  color: #222
  position: relative
  border-radius: 4px

.valor
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #111
  max-width: 85px
  min-height: 32px
  text-align: center
  font-size: 14px
  color: #222
  position: relative
  border-radius: 4px

.fa-calendar
  font-size: 20px
  padding: 4px
  vertical-align: middle
  color: #555

.fa-plane
  font-size: 23px
  padding: 4px
  vertical-align: middle
  color: #555

.fa-money
    font-size: 25px
    padding: 4px
    vertical-align: middle
    color: #555

.fa-equal
    font-size: 25px
    padding: 4px
    vertical-align: middle
    color: #555

.invDiv
  display: none

.pageDMargin
  padding: 0px
  margin-right: 0px

.pageDAuto
  margin-left: auto
  margin-right: auto

/*PageD fim */

.date
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
 color: #111
 max-width: 135px
 min-height: 32px
 text-align: center
 font-size: 14px
 color: #222
 position: relative
 border-radius: 4px

.date
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
 color: #111
 max-width: 135px
 min-height: 32px
 text-align: center
 font-size: 14px
 color: #222
 position: relative
 border-radius: 4px

 .colD
  padding: 200px


/*PAGE G INICIO*/
.value1
  text-align: center
  width: 200%

// .boxLeftPageG
//   background-color: #C4694A
//   border-top-left-radius: 8px
//   border-bottom-left-radius: 8px
//   margin: 20px 0 20px 0px
//   // height: 450px
//
// .boxRightPageG
//   background-color: #C4694A
//   border-top-right-radius: 8px
//   border-bottom-right-radius: 8px
//   margin: 20px 20px 20px 0
//   height: 450px

.boxPageG
  background-color: #C4694A
  border-radius: 8px
  margin: 0px
  padding: 0px

#titleG
  font-weight: 900
  font-size: 20px

.containerPages1
  color: black
  background-color: rgba(255, 255, 255, .55)
  width: 85%
  padding: 7px
  margin-left: auto
  margin-right: auto
  border-radius: 5px

.valor
  margin-left: auto
  margin-right: auto

.value
  text-align: center

/*PAGE G FINAL*/

// Page E - INÍCIO
.box_hotel_left
  background-color: #C4694A
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  margin: 20px 0 20px 0
  height: 1000px


.box_hotel_midle
  background-color: #C4694A
  margin: 20px 0 20px 0
  padding: 59.3px 0 20px 0
  height: 1000px

.box_hotel_right
  background-color: #C4694A
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  margin: 20px 0 20px 0
  height: 1000px

.box_hotel_left_selected
  background-color: #f3ab85
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  margin: 20.3px 0 20.3px 0
  height: 1000px


.box_hotel_midle_selected
  background-color: #f3ab85
  margin: 20px 0 20px 0
  padding: 59.3px 0 20px 0
  height: 1000px

.box_hotel_right_selected
  background-color: #f3ab85
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  margin: 20px 0 20px 0
  height: 1000px

#landing-hotel-col1
  padding-right: 0

#landing-hotel-col2
  padding-left: 0
  padding-right: 0


#landing-hotel-col3
  padding-left: 0


#companion_camp
  height: auto
  margin: 0
  padding: 0



// Page E - FIM

// Page F - INÍCIO

.boxPageF
  background-color: #C4694A
  border-radius: 8px
  margin: 20px
  height: 600px
  padding: 2px

.boxPageF_Selected
  background-color: #f3ab85
  border-radius: 8px
  margin: 20px
  height: 600px
  padding: 2px

.boxCarsPageF
  background-color: #C4694A
  border-radius: 8px
  margin: 20px

.textcss
  font-family: "Montserrat"

// Page F - FIM

// pageRegistred - INÍCIO
.link_making
  border-radius: 5px
  background-color: #C4694A
  box-shadow: 0 5px 0 darkred
  color: black
  padding: 1em 1.5em
  position: relative
  text-decoration: none
  text-transform: uppercase

.link_making:hover
  background-color: #ce0606

.link_making:active
  box-shadow: none
  top: 5px

.btn-circle
    width: 40px
    height: 40px
    padding: 6px 0px
    border-radius: 20px
    text-align: center
    margin-left: -56em
    margin-top: -8em
    font-size: 17px
    line-height: 1.42857

.title_registed
  font-size: 40px
  color: #323232
  //font-weight: 900
  //padding-left: 9em




// pageRegistred - FIM


//pageH

#roteiro-dias
  background-color: #f3ab85
  border-radius: 4px
  display: flex
  justify-content: center
  padding: 25px
  text-align: center

.col-sm-auto
  margin-left: 40px
  margin-right: 40px

.col-sm-auto-pageC
  margin-left: 20px
  margin-right: 20px

#titulo_roteiro
  font-size: 4vw


.PageHColLeft
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  margin: 20px 0 20px 20px
  padding: 2px
  height: 20em
  padding: 25px
  background-color: #f3ab85

.PageHColMidle
  padding: 2px
  height: auto
  padding: 25px
  background-color: #f3ab85

.PageHColRight
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  margin: 20px 20px 20px 0
  padding: 2px
  height: 20em
  padding: 25px
  background-color: #f3ab85

#vamo
  background-color: #f3ab85


.box_hotelH_left
  background-color: #C4694A
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  margin: 20px 0 20px 20px
  height: auto

.box_hotelH_midle
  background-color:  #C4694A
  margin: 20px 0 20px 0
  height: auto

.box_hotelH_right
  background-color:  #C4694A
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  margin: 20px 20px 20px 0
  height: auto

.CarsPageH
  border-radius: 8px
  margin: 20px
  background-color:  #C4694A

.boxLeftPageH
  background-color: rgba(0, 0, 0, 0.2)
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  margin: 20px 0 20px 50px
  height: 420px
  padding: 2px

.boxRightPageH
  background-color:  #C4694A
  border-radius: 8px
  margin: 0 auto
  height: auto
  padding: 2px
  text-align: center
  display: inline-block

.vamovaida
  margin: 20px 0 20px 0
  padding: 25px
  background-color: #f3ab85
  border-radius: 8px

.hidden-imgs
  display: none

.hamburguer
  width: 300px

.observacoes
  border-radius: 5px
  margin-left: auto
  margin-right: auto

.ajustes
  height: auto
  background-color: #C4694A
  border-radius: 5px

.dinamic_spec--color
  background-color: #C4694A

.dinamic_spec_pageH
  background-color: #f3ab85
  border-radius: 5px
  width: 90%
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em
  padding: 1em
  height: auto

.btn-fake
  color: white
  background-color: #c4694A
  border-radius: 5px
  border-width: 0px
  margin-left: auto
  margin-right: auto
  height: 50px
  width: 80px

.companion--radius
  border-radius: 5px
  text-align: center

//pageH FIM

.corinputs
  color: #EDEDED !important
//pageRegistred inicio

.icones
  height: 40px
  width: 40px
  margin-left: auto
  margin-right: auto


.newcadas
  max-width: 200px
  margin-left : 450px

.form-control--espacoesq
  margin-left: 7px

.classa--margin
  margin-left: -8px
  margin-bottom: 15px
  width: 935px

.form-control--width
  width: 110px

.gambiarra--esq
  margin-left: 100px

.break-after
  padding: 0px
  page-break-after: always

.break-after--before
  page-break-after: always
  page-break-before: always
  padding: 0px

.break-before
  page-break-before: always
  padding: 0px

.letra
  color: black

/*NEW PAGEH*/

.pageH_dinamic_spec
  background-color: rgba(243 ,171 , 133, 0.8)
  border-width: 5px
  border-color: rgba(0, 0, 0, 1)
  border-radius: 5px
  width: 90%
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em
  padding: 1em

.caixatotal
  border-right: 2px dotted
  border-bottom: 2px dotted
  border-top: 2px dotted
  border-left: 2px dotted
  border-color: black
  border-radius: 8px
  height: auto
  display: flex
  justify-content: center
  flex-direction: column

.topo
  display: flex
  justify-content: space-between
  margin-left: -50px
  margin-top: -50px
  height: auto

.dias
  justify-content: space-between
  margin-top: 100px
  color: black
  height: 30px
  border-width: 1px
  border-color: black
  text-align: center
  border-radius: 5px
  font-weight: bold

.acompanhantes
  justify-content: space-between

.logo
  height: 180px
  width: 180px
  margin-left: 35px
  margin-top: 35px

.companion--left
  text-align: center
  // margin-left: 80px

.imgs--margin
  margin-top: -100px
  border-right: 2px dotted
  border-bottom: 2px dotted
  border-top: 2px dotted
  border-left: 2px dotted
  border-color: black
  border-radius: 8px

.ajustes_new
  height: auto
  border-radius: 5px

.hotel_flex
  margin-top: -150px
  display: flex
  justify-content: space-between

.hotel_tit
  color: black

.classaH
  padding: 1px

.traslado_flex
  display: flex
  justify-content: flex-start
  align-items: center
  justify-content: space-around

.textos
  color: black
  height: 30px
  border-width: 1px
  border-color: black
  text-align: center
  border-radius: 5px

.servicos_flex
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  justify-content: space-between

.caixatotalS
  border-right: 2px dotted
  border-bottom: 2px dotted
  border-top: 2px dotted
  border-left: 2px dotted
  border-color: black
  border-radius: 8px

.info1_flex
  display: flex
  justify-content: center
  flex-direction: column
  margin-top: -140px

.box
  width: auto

.textos--bold
  font-weight: bold

.caixatotal--break
  page-break-after: always
  padding: 0px

.textos--caixa
  width: 80%
  margin-left: auto
  margin-right: auto

.cor
  color: black

.textosR
  color: black
  height: 30px
  border-width: 1px
  border-color: black
  text-align: center
  border-radius: 5px
  width: auto

.textosCL
  color: black
  height: 100px
  border-width: 1px
  border-color: black

.dias-flex
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around

.roteiro-flex
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  margin-left: -50px

.form-control--cor
  color: black
  border-width: 1px
  border-color: black
  text-align: center
  border-radius: 5px

.botoes_flex
  display: flex
  flex-direction: row-reverse
  margin-right: 300px
  margin-left: -150px

.btn-fake--cursor:hover
  cursor: pointer

@media print
  .botoes_flex
    display: none
  .voos--print
    margin-top: 300px
  .carros--print
    margin-top: 300px
  .imgs-print
    margin-top: -100px
  .obs-print
    margin-top: 300px

.roteiro-flex--table
  display: table
  page-break-inside: avoid

.caixatotalR
  border-right: 2px dotted
  border-bottom: 2px dotted
  border-top: 2px dotted
  border-left: 2px dotted
  border-color: black
  border-radius: 8px
  height: auto
  display: flex
  justify-content: center
  flex-direction: column
  margin-left: 0px

.caixatotalH
  border-right: 2px dotted
  border-bottom: 2px dotted
  border-top: 2px dotted
  border-left: 2px dotted
  border-color: black
  border-radius: 8px
  height: auto
  display: flex
  justify-content: center
  flex-direction: column

.companion-flex
  display: flex

// .papel
//   background: url('/images/papeltimbrado.png')

.topp
  margin-top: 70px


/*FIM NEW PAGE H*/

// Error notifications - início
.letter-collor
  color: black
// Error notifications - fim

/* INICIO CADASTRO NOVO USUARIO*/

.pagesFront-pagtoda
  height: 44em

.form-control--size
  width: auto
  margin-left: auto
  margin-right: auto

.btn-fake--singup
  border-width: 3px
  border-color: rgba(243 ,171 , 133, 1)
  color: white
  background-color: rgba(243 ,171 , 133, 0.6)

/* fim CADASTRO NOVO USUARIO*/
