@import ../bootstrap/scss/bootstrap.scss

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  text-align: center
  text-decoration: none
  background-color: white

a
  color: #00B7FF

div
  padding: 50px
  font: 14px
  font-family: "Arial"
  color: white

h1
  font-size: 40px
  font-family: sans-serif
  font-style: normal

h2
  font-size: 14px
  font-family: serif
  font-style: normal

head
  font-size: 20px
  font-family: cursive
  font-style: normal

aside
  position: relative
  margin-left: 250px
  font-family: "Arial"
  font-size: 15px
  font-style: oblique
  background-color: brown
  width: 700px

.maion-alert
  position: fixed
  top: 10px
  right: 10px
  margin-left: 10px

/*----Front do Login/início----*/
.login
  background-color: #CA9283
  width: 100%
  height: 41em

.form_login
  background-color: rgba(255, 255, 255, .55)
  width: 50%
  padding: 7px
  margin-left: auto
  margin-right: auto
  border-radius: 5px

.login_page
  background-color: #323232
  padding: 10px

.container_textbox_login
  padding: 20px

.input-placeholder
  border-radius: 8px
  padding: 5px

.centered
  margin: 0px auto

  header p
    color: red

/*----Front do Login/fim----*/

//FORGOT EMAIL page

.text1
  color: black
  font-family: Arial

.forgot-box
  background-color: #c4694a
  margin-left: auto
  margin-right: auto
  height: 62.5em
  margin-top: auto
  margin-bottom: auto

.esqueci
  overflow: hidden
  background-color: #FFF
  border-radius: 6px
  padding: 24px
  width: auto
  margin-left: auto
  margin-right: auto
  height: auto
  margin-top: 150px
  align-items: center

.btn-outline-primary
   color: #c4694a
   // background-color: #c4694a
   border-color: #c4694a
   width: 450px
   height: 50px
   box-shadow: 1 3px #1abc9c
   font-weight: 600

.btn-outline-primary:hover
  background-color: #c4694a
  border-color: #0000

.cxemail
  border-radius: 5px
  color: #000
  height: 50px
  width: 450px
  text-align: center
  font-size: 15px
  margin-top: 0px

#titulo
  font-size: 40px
  color: #323232
  font-weight: 900
  padding-bottom: 25px
  font-family: Arial

.text1
  font-size: x-large
  font-weight: 400
  margin-bottom: -20px

.header-forget
  position: fixed
  top: 0
  z-index: 9000
  background-color: #FFF
  width: 100%
  min-height: 80px
  box-shadow: 0 4px 0 hsla(200,7%,91%,.5)
  border-bottom: 1px solid #d8dcde

.box-border
  border: 1px solid #d8dcde
  border-radius: 4px
  padding: 24px
  width: 600px
  margin-left: auto
  margin-right: auto
  padding-bottom: 0px

.box-forgot
  background: #fff

.cadstro-forgot
  color: black
  padding-top: 15px
  font-size: 20px
  cursor: pointer

.btn-cadastro-forgot
  color: #c4694a
  font-weight: 600

  /*pages - inicio*/

.containerPages
  color: black
  background-color: rgba(255, 255, 255, .55)
  width: 90%
  padding: 7px
  margin-left: auto
  margin-right: auto
  border-radius: 5px

.classF-input
  max-width: 350px

.classCinput
  max-width: 200px

.classCinput2
  max-width: 300px

.marginPageC
  margin-left: 100px

.pagesFront
  background-color: #C4694A
  padding-top: 6em
  height: 100%

#buttonPages
  background-color: #F3AB85
  border-color: #B0AEAF

label
  color: black

#add_acompanhantes
  padding: 0

#select_da_idade
  margin-top: 30px

.add_buttons
  background-color: #F3AB85
  border-color: #B0AEAF
  border-radius: 10px
  color: #323232
  margin-top: 0.7em

.form-group
  padding-top: 0
  padding-bottom: 0
  margin-bottom: 1em

.pageA-padding
  padding-top: 0


.dinamic_White
  background-color: white
  border-radius: 5px
  width: 100%
  margin-left: auto
  margin-right: auto
  // margin-bottom: 1em
  padding: 0em


  /*pages - fim*/

  /*PageG inicio*/
.valor
  margin-left: auto
  margin-right: auto

.value
  text-align: center
/*PageG fim */

/*--- Front do Dashboard ----*/

.dashboard
  background-color: #CA9283
  width: 100%
  height: 41em
  overflow: hidden

.form_dashboard
  background-color: rgba(255, 255, 255, .55)
  width: 50%
  padding: 20px
  margin-left: auto
  margin-right: auto
  border-radius: 5px

.bodydash
  overflow-x: hidden
  overflow-y: hidden

.dashboard_page
  background-color: #323232
  padding: 10px

.background
  background: url('/images/pinkmap.png') no-repeat center center/cover
  width: 100%
  height: 90%
  padding: 8.5em

/*--- Fim Dashboard ---*/

/*---pageC--- início*/
// Div location
.dinamic_spec
  background-color: #f3ab85
  border-radius: 5px
  width: 90%
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em
  padding: 1em

  // joão, tira isso dps - início
.parent
  background-color: rgba(0, 0, 0, 0.2)
  overflow: auto
  overflow-x: hidden
  height: 80vh
  padding: 30px
  border-radius: 5px
  max-height: 400px
  border-style: solid
  border-color: #E4B7B4
  border-width: 4px


.scrolled
  background-color: white
  color: black

.header
  background-color: rgba(0, 0, 0, 0.2)
  height: 80vh
  padding: 0
  border-radius: 5px
  max-height: 400px
  border-style: solid
  border-color: #E4B7B4
  border-right: 0
  border-width: 4px

.no_padding
  padding: 0

.days_input
  margin: 0.3em
  padding: 0

.testeReplicaBox
  background-color: rgba(196, 105, 74, 0.2)
  border-radius: 6px
  margin: 0.8em
  width: 50%
  margin-left: auto
  margin-right: auto

.Selected
  background-color: rgba(196, 105, 74, 1)
.country_row
  border-radius: 5px

// joão, tira isso dps - fim

/*Div location - fim*/

// Table pageC
.tabela_roteiro
  margin-left: auto
  margin-right: auto

#select_da_idade
  margin-top: 30px

#add_acompanhantesvoo
  padding: 0

#add_voo
  padding: 0


.add_buttons
  background-color: #F3AB85
  border-color: #B0AEAF
  border-radius: 10px
  color: #323232
  /*pages - fim*/

  /*PageG inicio*/
.valor
  margin-left: auto
  margin-right: auto
// Dias do roteiro
.roteiro_specs
  background-color: #f3ab85
  border-radius: 5px
  width: 90%
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em
  padding: 25px
//Acompanhantes
.col_acompanhantes
  padding: 0
  margin: 1em

.row_acompanhantes
  padding: 0.3em

.botao_confirma
  background-color: blue
  border-color: #B0AEAF
  border-radius: 10px
  color: white

  /*---pageC--- fim*/

.value
  text-align: center

.classa
  padding: 1px

.rowclass
  padding: 0
  /*PageG fim */

.autorow
  margin-left: auto
  margin-right: auto


  /*PageG fim */


/*PageD início */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css)

.PageDColLeft
  background-color: rgba(0, 0, 0, 0.2)
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  margin: 20px 0 20px 20px
  padding: 2px
  height: 17em

.PageDColMidle
  background-color: rgba(0, 0, 0, 0.2)
  margin: 20px 0 20px 0
  padding: 2px
  height: 17em

.PageDColRight
  background-color: rgba(0, 0, 0, 0.2)
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  margin: 20px 20px 20px 0
  padding: 2px
  height: 17em

.date
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #111
  max-width: 135px
  min-height: 32px
  text-align: center
  font-size: 14px
  color: #222
  position: relative
  border-radius: 4px

.valor
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #111
  max-width: 85px
  min-height: 32px
  text-align: center
  font-size: 14px
  color: #222
  position: relative
  border-radius: 4px

.fa-calendar
  font-size: 20px
  padding: 4px
  vertical-align: middle
  color: #555

.fa-plane
  font-size: 23px
  padding: 4px
  vertical-align: middle
  color: #555

.fa-money
    font-size: 25px
    padding: 4px
    vertical-align: middle
    color: #555

.fa-equal
    font-size: 25px
    padding: 4px
    vertical-align: middle
    color: #555

/*PageD fim */

.date
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
 color: #111
 max-width: 135px
 min-height: 32px
 text-align: center
 font-size: 14px
 color: #222
 position: relative
 border-radius: 4px

.date
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
 color: #111
 max-width: 135px
 min-height: 32px
 text-align: center
 font-size: 14px
 color: #222
 position: relative
 border-radius: 4px

 .colD
  padding: 200px

/*PAGE G INICIO*/
.value1
  text-align: center
  width: 200%

.boxLeftPageG
  background-color: rgba(0, 0, 0, 0.2)
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  margin: 20px 0 20px 20px
  height: 380px

.boxRightPageG
  background-color: rgba(0, 0, 0, 0.2)
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  margin: 20px 20px 20px 0
  height: 380px

#titleG
  font-weight: 900
  font-size: 20px

.containerPages1
  color: black
  background-color: rgba(255, 255, 255, .55)
  width: 85%
  padding: 7px
  margin-left: auto
  margin-right: auto
  border-radius: 5px
/*PAGE G FINAL*/

// Page E - INÍCIO
.box_hotel_left
  background-color: rgba(0, 0, 0, 0.2)
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  margin: 20px 0 20px 20px
  height: 570px

.box_hotel_midle
  background-color: rgba(0, 0, 0, 0.2)
  margin: 20px 0 20px 0
  height: 570px

.box_hotel_right
  background-color: rgba(0, 0, 0, 0.2)
  border-top-right-radius: 8px
  border-bottom-right-radius: 8px
  margin: 20px 20px 20px 0
  height: 570px

#landing-hotel-col1
  padding-right: 0

#landing-hotel-col2
  padding-left: 0
  padding-right: 0

#landing-hotel-col3
  padding-left: 0

#companion_camp
  height: 100px
  margin: 0
  padding: 0

// Page E - FIM

// Page F - INÍCIO
#PageF_Col1


#PageF_Col2


#PageF_Col3


// Page F - FIM
