<div class="pagesFront">
  <div class="dinamic_spec">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class = "th-name">CodFile</th>
          <th class = "th-name">Alterar File</th>
        </tr>
      </thead>
      <tbody>
        {{#each budgets}}
        <tr>
          <th>{{codFile}}</th>
          <th><button onClick="location.href='/registred/pageC/{{_id}}'" class="fa fa-info btn m-1"></button></th>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
