<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<header class="login_page">
</header>
<form action="/registred/pageC/{{client_id}}/{{budget_id}}" method="post" class="pagesFront">
  <div class="dinamic_spec">
      <h1>File</h1>
    <div class="form-group">
      <input type="text" name="budget[codFile]" placeholder="Código File" class="form-control" required="required">
    </div>

    <div class="">
        <div class="row country_row">

          <!-- coluna dos botões/início -->
          <div class="col-2 no_padding">
            <div class="header">
              <button type="button" name="button" id="button_day_original" class="add_buttons"> +Cidades </button>
              <button type="button" name="button" id="add_country" class="add_buttons"> +países </button>
              <button type="button" name="button" id="increasing" class="move add_buttons"> país anterior </button>
              <button type="button" name="button" id="decreasing" class="move add_buttons"> próximo país </button>
            </div>
          </div>
          <!-- coluna dos botões/fim -->

          <!-- coluna com os países/inicio-->
          <div class="col-sm no_padding">
            <div class="parent" id="button_space">
              <div id="in_country_days1" class="testeReplicaBox Selected">
                <div class="days_input">
                  <input placeholder="Nome do país" class="form-control" name="budget[country]"></input>
                </div>
                <div class="days_input">
                  <input placeholder="Aeroporto de ída" class="form-control" name="budget[airportGo]"></input>
                  <input placeholder="Aeroporto de chegada" class="form-control" name="budget[airportReturn]"></input>
                </div>
                <div class="days_input">
                  <input placeholder="data de ída" class="form-control" name="budget[goDate]"></input>
                  <input placeholder="data de chegada" class="form-control" name="budget[returnDate]"></input>
                  <div class="days_input">
                    <input placeholder="Nome da cidade" class="form-control" name="budget[cities]">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- coluna com os países/fim-->

      </div>

    <!-- bloco país-cidade/fim -->
    <div class="dinamic_spec_pagec">
    <h1>Roteiro:</h1>
  <div id="testedacamila" class="rowclass">
    <div class="container rowclass">
      <div class="row rowclass marginPageC">
        <div class="col-sm-auto ">
          Dia 1
        </div>
        <div class="col-sm-auto">
          <input type="date" placeholder="Data" name="planDate" class= "date start-date form-control classCinput">
        </div>
        <div class="col-sm-auto">
          <input placeholder="País" name="planCountry" class= "form-control classCinput2">
        </div>
        <div class="col-sm-auto">
          <input placeholder="Cidade" name="planCity"class= "form-control classCinput2">
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="planFreeField" placeholder="Campo Livre" rows="3"></textarea>
      </div>
    </div>
  </div>
    <button type="button" class="add_buttons" id="add_dias"> + Dias</button><br><br>
  </div>

    <button type="submit" class="btn btn-primary" id="buttonPages" >Próximo</button>
  </div>
</form>

<script type="text/javascript" src="/javascripts/replica.js">  </script>
