
<div class="pagesFront">
  <div class="dinamic_spec">
    <input placeholder="Código">
    <input placeholder="CPF">
    <input placeholder="Nome">
    <input type="text" class="form-control" id="oia">
    <br><br><br><br>
    <button onClick="change()">Selecionar usuário</button>
    <br><br><br><br>
    <a class="link_making" id="linkA">Alterar dados</a>
    <br><br><br><br>
    <a class="link_making" id="linkB">Alterar características</a>
    <br><br><br><br>
    <a class="link_making" id="linkC">Alterar files</a>
  </div>
</div>

<script type="text/javascript" src="/javascripts/cad_redir.js">  </script>
